@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(//fonts.googleapis.com/css?family=Lato);
@import url(//fonts.googleapis.com/css?family=Alex+Brush);
body { background:#171717 url(images/body.jpg) repeat 50% 0%; }
@media (max-width: 767px) {
	body {
		background:#171717 !important;
		padding:0;
	}
}
.main-holder { overflow:hidden; }
.main-holder input[type="text"], .main-holder input[type="email"], .main-holder input[type="tel"], .main-holder textarea {
	background:#161616;
	min-height:20px;
	margin:0;
	padding:9px 15px 9px 15px !important;
	border:1px solid #343434 !important;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	resize:none;
	font-family:'Roboto Slab', serif;
	font-size:15px;
	font-weight:400;
	color:#dfdfdf !important;
}
.main-holder input[type="submit"], .main-holder input[type="reset"] {
	background:#757575;
	height:62px;
	margin:0 15px 0 0;
	padding:0 14px 0 14px;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	font-family:'Roboto Slab', serif;
	font-size:26px;
	font-weight:400;
	text-shadow:none;
	text-transform:uppercase;
	color:#fff;
}
@media (max-width: 767px) {
	.main-holder input[type="submit"], .main-holder input[type="reset"] { font-size:20px; }
}
.main-holder input[type="submit"]:focus, .main-holder input[type="reset"]:focus {
	background:#757575;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#fff;
}
.main-holder input[type="submit"]:hover, .main-holder input[type="reset"]:hover {
	background:#fff;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#757575;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.main-holder .search-form input[type="text"] { width:135px; }
}
html.ie8 .main-holder .search-form input[type="text"] { width:135px; }
@media (min-width: 768px) and (max-width: 979px) {
	.main-holder .search-form input[type="text"] { width:80px; }
}
@media (max-width: 480px) {
	.main-holder .search-form input[type="text"] { width:115px; }
}
.main-holder .search-form input[type="submit"] {
	height:43px;
	margin:0 0 0 10px;
	font-size:20px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.main-holder .search-form input[type="submit"] { font-size:16px; }
}
h2 {
	margin-bottom:26px;
	text-align:center;
	text-transform:uppercase;
}
@media (min-width: 768px) and (max-width: 979px) {
	h2 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
		line-height:50px !important;
		font-size:40px !important;
	}
}
@media (max-width: 767px) {
	h2 {
		line-height:50px !important;
		font-size:40px !important;
	}
}
@media (max-width: 480px) {
	h2 {
		line-height:40px !important;
		font-size:30px !important;
	}
}
h2:before {
	background:url(images/title_icon.png) no-repeat 50% 0%;
	display:block;
	height:76px;
	margin:0 0 25px 0;
	content:'';
}
h2 a {
	text-decoration:none;
	color:#fff;
}
h2 a:focus {
	text-decoration:none;
	color:#fff;
}
h2 a:hover {
	text-decoration:none;
	color:#404040;
}
@media (max-width: 767px) {
	h2 br { display:none; }
}
h3 {
	margin-bottom:63px;
	text-align:center;
	text-transform:uppercase;
}
@media (min-width: 768px) and (max-width: 979px) {
	h3 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
		line-height:50px !important;
		font-size:40px !important;
	}
}
@media (max-width: 767px) {
	h3 {
		line-height:50px !important;
		font-size:40px !important;
	}
}
@media (max-width: 480px) {
	h3 {
		line-height:40px !important;
		font-size:30px !important;
	}
}
h3:before {
	background:url(images/title_icon.png) no-repeat 50% 0%;
	display:block;
	height:76px;
	margin:0 0 25px 0;
	content:'';
}
h3 a {
	text-decoration:none;
	color:#fff;
}
h3 a:focus {
	text-decoration:none;
	color:#fff;
}
h3 a:hover {
	text-decoration:none;
	color:#777;
}
h3 em {
	display:block;
	margin:0 0 -6px 0;
	font-style:normal;
}
h4 {
	margin:0 0 62px 0;
	padding:32px 0 0 0;
	letter-spacing:1px;
	border-top:1px solid #404040;
	text-align:center;
	text-transform:uppercase;
}
@media (max-width: 480px) {
	h4 {
		line-height:28px !important;
		font-size:18px !important;
	}
}
h4 a {
	text-decoration:none;
	color:#fff;
}
h4 a:focus {
	text-decoration:none;
	color:#fff;
}
h4 a:hover {
	text-decoration:none;
	color:#404040;
}
h5 { text-transform:uppercase; }
h5 a {
	text-decoration:none;
	color:#fff;
}
h5 a:focus {
	text-decoration:none;
	color:#fff;
}
h5 a:hover {
	text-decoration:none;
	color:#777;
}
h5 strong {
	display:block;
	line-height:23px;
	font-family:'Roboto Slab', serif;
	font-size:15px;
	font-weight:400;
	text-transform:none;
}
h5 em {
	display:block;
	padding:0 0 10px 0;
	font-style:normal;
}
@media (max-width: 767px) {
	h5 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
	}
}
h6 {
	margin:0 0 15px 0;
	text-transform:uppercase;
}
h6 a {
	text-decoration:none;
	color:#fff;
}
h6 a:focus {
	text-decoration:none;
	color:#fff;
}
h6 a:hover {
	text-decoration:none;
	color:#777;
}
p { margin:0 0 23px 0; }
a {
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
}
a:hover {
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	text-decoration:none;
}
img.alignleft { margin:5px 30px 5px 0; }
@media (max-width: 767px) {
	img.alignleft { max-width:50%; }
}
.header {
	background:url(images/header.jpg) no-repeat 50% 50%;
	background-size:cover;
	position:relative;
	z-index:999;
	margin:0;
	padding:50px 0 0 0;
	border:none;
	text-align:center;
}
@media (max-width: 767px) {
	.header { padding:50px 20px 0 20px; }
}
body.home .header {
	background:none;
	padding:389px 0 0 0;
}
@media (min-width: 980px) and (max-width: 1200px) {
	body.home .header { padding:191px 0 0 0; }
}
html.ie8 body.home .header { padding:191px 0 0 0; }
@media (min-width: 768px) and (max-width: 979px) {
	body.home .header { padding:150px 0 0 0; }
}
@media (max-width: 767px) {
	body.home .header {
		background:url(images/header.jpg) no-repeat 50% 50%;
		background-size:cover;
		padding:50px 20px 0 20px;
	}
}
.header .search-form form {
	float:none;
	margin:0 0 30px 0;
}
.header .logo {
	display:inline-block;
	float:none;
	margin:0 0 46px 0;
	vertical-align:top;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .logo { width:100%; }
}
body.home .header .logo { margin:0 0 291px 0; }
@media (min-width: 980px) and (max-width: 1200px) {
	body.home .header .logo { margin:0 0 191px 0; }
}
html.ie8 body.home .header .logo { margin:0 0 191px 0; }
@media (min-width: 768px) and (max-width: 979px) {
	body.home .header .logo { margin:0 0 150px 0; }
}
@media (max-width: 767px) {
	body.home .header .logo { margin:0 0 40px 0; }
}
.header .logo img { margin:0 0 4px 0; }
@media (max-width: 767px) {
	.header .logo img {
		width:100%;
		height:auto;
	}
}
body.home .header .logo img { height:236px; }
@media (max-width: 767px) {
	body.home .header .logo img {
		width:100%;
		height:auto;
	}
}
.header .logo .logo_h__txt {
	margin:0;
	padding:0;
	text-transform:uppercase;
}
.header .logo .logo_h__txt a { text-decoration:none; }
@media (max-width: 767px) {
	.header .logo .logo_h__txt a {
		line-height:60px;
		font-size:60px;
	}
}
@media (max-width: 480px) {
	.header .logo .logo_h__txt a {
		line-height:36px;
		font-size:36px;
	}
}
.header .logo .logo_h__txt a:focus {
	text-decoration:none;
	color:#fff;
}
.header .logo .logo_h__txt a:hover {
	text-decoration:none;
	color:#fff;
}
.header .logo .logo_tagline {
	margin:0;
	padding:4px 0 0 0;
	letter-spacing:4px;
	line-height:22px;
	font-family:'Lato', sans-serif;
	font-size:18px;
	font-weight:400;
	text-transform:uppercase;
	color:#fff;
}
body.home .header .logo .logo_tagline {
	padding:0;
	letter-spacing:6px;
	line-height:39px;
	font-size:31px;
}
@media (max-width: 767px) {
	body.home .header .logo .logo_tagline {
		letter-spacing:4px;
		line-height:22px;
		font-size:18px;
	}
}
.header .nav__primary {
	background:url(images/menu.png) repeat 50% 0%;
	position:relative;
	float:none;
	margin:0;
	padding:16px 0 15px 0;
}
.header .nav__primary:before {
	background:url(images/menu.png) repeat 50% 0%;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	left:-100%;
	z-index:-1;
	content:'';
}
.header .nav__primary:after {
	background:url(images/menu.png) repeat 50% 0%;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	right:-100%;
	z-index:-1;
	content:'';
}
.header .nav__primary.isStuck {
	right:0;
	left:0;
	z-index:999;
}
@media (max-width: 767px) {
	.header .nav__primary.isStuck { padding:20px; }
}
.header .nav__primary .select-menu { font-size:12px; }
.header .nav__primary .sf-menu {
	float:none;
	line-height:0;
	font-size:0;
}
.header .nav__primary .sf-menu ul {
	background:url(images/menu.png) repeat 50% 0%;
	width:150px;
	padding:20px 0;
}
.header .nav__primary .sf-menu > li {
	background:url(images/menu_divider.png) no-repeat 0% 50%;
	display:inline-block;
	float:none;
	vertical-align:top;
}
.header .nav__primary .sf-menu > li:first-child { background:none; }
.header .nav__primary .sf-menu > li > a {
	padding:10px 28px 10px 28px;
	border:none;
	text-transform:uppercase;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.header .nav__primary .sf-menu > li > a { padding:10px 20px 10px 20px; }
}
html.ie8 .header .nav__primary .sf-menu > li > a { padding:10px 20px 10px 20px; }
@media (min-width: 768px) and (max-width: 979px) {
	.header .nav__primary .sf-menu > li > a {
		padding:10px 15px 10px 15px;
		font-size:22px;
	}
}
.header .nav__primary .sf-menu > li li {
	background:none;
	margin:10px 0 0 0;
}
.header .nav__primary .sf-menu > li li:first-child { margin:0; }
.header .nav__primary .sf-menu > li li a {
	padding:0 10px;
	border:none;
	line-height:20px;
	font-size:15px;
	font-weight:400;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
.header .nav__primary .sf-menu > li li .sf-sub-indicator { display:none; }
.header .nav__primary .sf-menu li:hover ul, .header .nav__primary .sf-menu li.sfHover ul {
	margin:0 0 0 -75px;
	top:74px;
	left:50%;
}
.header .nav__primary ul.sf-menu li li:hover ul, .header .nav__primary ul.sf-menu li li.sfHover ul {
	margin:0;
	top:-20px;
	left:151px;
}
.header .nav__primary .sf-menu > li > a:hover, .header .nav__primary .sf-menu > li.sfHover> a, .header .nav__primary .sf-menu > li.current-menu-item > a, .header .nav__primary .sf-menu > li.current_page_item > a {
	background:none;
	color:#757575;
}
.header .nav__primary .sf-menu li li > a:hover, .header .nav__primary .sf-menu li li.sfHover > a, .header .nav__primary .sf-menu li li.current-menu-item > a, .header .nav__primary .sf-menu li li.current_page_item > a {
	background:none;
	color:#757575;
}
.header .nav__primary .sf-sub-indicator {
	margin:0 -5px 0 0;
	top:45px;
	right:50%;
}
.header .slider_prev {
	display:block;
	width:60px;
	height:60px;
	margin:0;
	padding:0;
	line-height:0;
	font-size:0;
	position:absolute;
	top:106px;
	left:0;
	z-index:999;
}
@media (min-width: 1625px) {
	.header .slider_prev { left:-227px; }
}
html.ie8 .header .slider_prev { left:-227px; }
@media (min-width: 768px) and (max-width: 979px) {
	.header .slider_prev { top:0; }
}
@media (max-width: 767px) {
	.header .slider_prev {
		display:none;
		top:auto;
		bottom:80px;
	}
}
.header .slider_prev:hover:after {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
html.ie8 .header .slider_prev:hover:after { display:block; }
.header .slider_prev:before {
	background:url(images/slider_prev.jpg) no-repeat 50% 50%;
	display:block;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
}
.header .slider_prev:after {
	background:url(images/slider_prev_act.jpg) no-repeat 50% 50%;
	display:block;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
}
html.ie8 .header .slider_prev:after { display:none; }
.header .slider_next {
	display:block;
	width:60px;
	height:60px;
	margin:0;
	padding:0;
	line-height:0;
	font-size:0;
	position:absolute;
	top:106px;
	right:0;
	z-index:999;
}
@media (min-width: 1625px) {
	.header .slider_next { right:-227px; }
}
html.ie8 .header .slider_next { right:-227px; }
@media (min-width: 768px) and (max-width: 979px) {
	.header .slider_next { top:0; }
}
@media (max-width: 767px) {
	.header .slider_next {
		display:none;
		top:auto;
		bottom:80px;
	}
}
.header .slider_next:hover:after {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
html.ie8 .header .slider_next:hover:after { display:block; }
.header .slider_next:before {
	background:url(images/slider_next.jpg) no-repeat 50% 50%;
	display:block;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
}
.header .slider_next:after {
	background:url(images/slider_next_act.jpg) no-repeat 50% 50%;
	display:block;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
}
html.ie8 .header .slider_next:after { display:none; }
.content-holder {
	position:relative;
	margin:0;
	padding:100px 0 100px 0;
	z-index:99;
}
@media (max-width: 767px) {
	.content-holder { padding:100px 20px 100px 20px; }
}
body.home .content-holder {
	background:#171717 url(images/body.jpg) repeat 50% 0%;
	padding:89px 0 0 0;
}
@media (max-width: 767px) {
	body.home .content-holder { padding:89px 20px 0 20px; }
}
.content-holder #content { padding-top:45px; }
#sidebar { padding-top:45px; }
#sidebar .widget { margin:77px 0 0 0; }
#sidebar .widget:first-child { margin:0; }
#sidebar h3 {
	margin-bottom:63px;
	word-wrap:break-word;
	-webkit-hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-o-hyphens:auto;
	hyphens:auto;
}
@media (min-width: 980px) and (max-width: 1200px) {
	#sidebar h3 {
		line-height:56px;
		font-size:40px;
	}
}
html.ie8 #sidebar h3 {
	line-height:56px;
	font-size:40px;
}
#sidebar ul {
	margin:0;
	padding:0;
}
#sidebar ul li {
	position:relative;
	margin:8px 0 0 0;
	padding:0 0 0 18px;
	list-style:none;
	line-height:20px;
	font-size:15px;
	text-transform:uppercase;
	color:#777;
}
#sidebar ul li:first-child { margin:0; }
#sidebar ul li:before {
	line-height:20px;
	font-family:FontAwesome;
	font-size:15px;
	color:#bababa;
	position:absolute;
	top:0;
	left:0;
	content:'\f054';
}
#sidebar ul li a {
	text-decoration:none;
	color:#777;
}
#sidebar ul li a:hover {
	text-decoration:none;
	color:#fff;
}
#sidebar ul li ul { padding:8px 0 0 0; }
#sidebar ul.comments-custom { padding:1px 0 0 0; }
#sidebar ul.comments-custom li {
	margin:47px 0 0 0;
	padding:0;
	line-height:18px;
	font-size:15px;
	text-transform:none;
}
#sidebar ul.comments-custom li:first-child { margin:0; }
#sidebar ul.comments-custom li:before { display:none; }
#sidebar ul.comments-custom li .meta_format { margin:0; }
#sidebar ul.comments-custom li h4 {
	margin:0;
	padding:0;
	border:none;
	line-height:24px;
	font-family:'Roboto Slab', serif;
	font-size:18px;
	font-weight:400;
	text-align:left;
	color:#fff;
}
#sidebar ul.comments-custom li time {
	display:block;
	line-height:24px;
	font-family:'Roboto Slab', serif;
	font-size:18px;
	font-weight:400;
	color:#fff;
}
#sidebar ul.comments-custom li .comments-custom_txt {
	margin:4px 0 20px 0;
	padding:0;
	border:none;
}
#sidebar ul.comments-custom li .comments_custom_btn {
	line-height:20px;
	font-size:18px;
	text-decoration:underline;
}
#sidebar #calendar_wrap caption { color:#fff; }
#sidebar #calendar_wrap thead tr th { color:#fff; }
ul.list_1 { padding:0 0 16px 0; }
ul.list_1 li { text-align:center; }
@media (max-width: 767px) {
	ul.list_1 li {
		width:100%;
		overflow:hidden;
		text-align:left;
	}
}
ul.list_1 li .thumbnail { margin:0 0 24px 0; }
@media (max-width: 767px) {
	ul.list_1 li .thumbnail {
		max-width:50%;
		margin:5px 20px 5px 0;
	}
}
@media (max-width: 767px) {
	ul.list_1 li .clear { display:none; }
}
ul.list_1 li h5 { display:none; }
ul.list_1 li .excerpt a {
	text-decoration:none;
	color:#777;
}
ul.list_1 li .excerpt a:focus {
	text-decoration:none;
	color:#777;
}
ul.list_1 li .excerpt a:hover {
	text-decoration:none;
	color:#fff;
}
ul.list_2 {
	margin:0;
	padding:0 0 63px 0;
	line-height:0;
	font-size:0;
}
ul.list_2 li {
	float:none;
	display:inline-block;
	position:relative;
	width:370px;
	margin:0 0 0 30px;
	vertical-align:top;
	line-height:23px;
	font-size:15px;
	color:#fff;
}
@media (min-width: 980px) and (max-width: 1200px) {
	ul.list_2 li {
		width:300px;
		margin:0 0 0 20px;
	}
}
html.ie8 ul.list_2 li {
	width:300px;
	margin:0 0 0 20px;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.list_2 li {
		width:228px;
		margin:0 0 0 20px;
	}
}
@media (max-width: 767px) {
	ul.list_2 li {
		width:100%;
		margin:30px 0 0 0;
	}
}
ul.list_2 li:first-child { margin:0; }
html.ie8 ul.list_2 li:first-child { margin:0; }
ul.list_2 li .inner {
	position:relative;
	margin:0 0 14px 0;
}
ul.list_2 li .inner .thumbnail {
	float:none;
	margin:0;
}
ul.list_2 li .inner .thumbnail a:hover .zoom-icon:before { top:35%; }
ul.list_2 li .inner .thumbnail a .zoom-icon:before { top:-30px; }
@media (max-width: 767px) {
	ul.list_2 li .inner .thumbnail a img { width:100%; }
}
ul.list_2 li .inner h5 {
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	bottom:0;
	left:0;
}
@media (min-width: 980px) and (max-width: 1200px) {
	ul.list_2 li .inner h5 {
		line-height:30px;
		font-size:20px;
	}
}
html.ie8 ul.list_2 li .inner h5 {
	line-height:30px;
	font-size:20px;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.list_2 li .inner h5 {
		line-height:24px;
		font-size:16px;
	}
}
@media (max-width: 480px) {
	ul.list_2 li .inner h5 {
		line-height:24px;
		font-size:16px;
	}
}
ul.list_2 li .inner h5 a {
	background:rgba(0,0,0,0.8);
	display:block;
	padding:22px 35px 22px 35px;
}
@media (min-width: 980px) and (max-width: 1200px) {
	ul.list_2 li .inner h5 a { padding:20px; }
}
html.ie8 ul.list_2 li .inner h5 a {
	background:url(images/black-opacity-60.png) repeat 0% 0%;
	padding:20px;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.list_2 li .inner h5 a { padding:15px; }
}
@media (max-width: 480px) {
	ul.list_2 li .inner h5 a { padding:15px; }
}
ul.list_2 li .inner h5 a:hover {
	background:rgba(255,255,255,0.8);
	color:#000;
}
html.ie8 ul.list_2 li .inner h5 a:hover { background:#fff; }
ul.list_2 li .excerpt {
	margin:0 0 15px 0;
	padding:0 10px;
}
ul.list_2 li .meta {
	line-height:24px;
	font-family:'Roboto Slab', serif;
	font-size:14px;
	font-weight:400;
}
ul.list_2 li .meta .post_date:before {
	display:inline-block;
	margin:-4px 10px 0 0;
	vertical-align:top;
	font-family:FontAwesome;
	font-size:23px;
	content:'\f017';
}
ul.list_2 li .meta .post_comment { margin:0 0 0 15px; }
ul.list_2 li .meta .post_comment:before {
	display:inline-block;
	margin:-4px 7px 0 0;
	vertical-align:top;
	font-family:FontAwesome;
	font-size:23px;
	content:'\f0e5';
}
ul.list_2 li .meta .post_comment a {
	text-decoration:none;
	color:#fff;
}
ul.list_2 li .meta .post_comment a:focus {
	text-decoration:none;
	color:#fff;
}
ul.list_2 li .meta .post_comment a:hover {
	text-decoration:underline;
	color:#fff;
}
ul.list_3 {
	background:url(images/bg.png) repeat 0% 0%;
	position:relative;
	overflow:visible;
	margin:0 !important;
	padding:61px 0 70px 0;
	line-height:0;
	font-size:0;
	z-index:99;
}
ul.list_3:before {
	background:url(images/bg.png) repeat 0% 0%;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	left:-100%;
	z-index:-1;
	content:'';
}
ul.list_3:after {
	background:url(images/bg.png) repeat 0% 0%;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	right:-100%;
	z-index:-1;
	content:'';
}
ul.list_3 li {
	background:#fff;
	display:inline-block;
	width:570px;
	margin:0 0 0 30px;
	padding:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	vertical-align:top;
	line-height:23px;
	font-size:15px;
	font-weight:400;
	text-align:left;
	color:#000;
}
@media (min-width: 980px) and (max-width: 1200px) {
	ul.list_3 li {
		width:460px;
		margin:0 0 0 20px;
	}
}
html.ie8 ul.list_3 li {
	width:460px;
	margin:0 0 0 20px;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.list_3 li {
		width:352px;
		margin:0 0 0 20px;
	}
}
@media (max-width: 767px) {
	ul.list_3 li {
		width:100%;
		margin:20px 0 0 0;
	}
}
ul.list_3 li:first-child { margin:0; }
html.ie8 ul.list_3 li:first-child { margin:0; }
ul.list_3 li .thumbnail { margin:-20px 48px -20px -20px; }
@media (min-width: 980px) and (max-width: 1200px) {
	ul.list_3 li .thumbnail {
		max-width:50%;
		margin:5px 20px 5px 0;
	}
}
html.ie8 ul.list_3 li .thumbnail {
	max-width:50%;
	margin:5px 20px 5px 0;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.list_3 li .thumbnail {
		max-width:50%;
		margin:5px 20px 5px 0;
	}
}
@media (max-width: 767px) {
	ul.list_3 li .thumbnail {
		width:auto;
		max-width:50%;
		height:auto;
		margin:5px 20px 5px 0;
	}
}
ul.list_3 li h5 {
	margin:0 0 13px 0;
	padding:2px 0 0 0;
	line-height:34px;
	font-size:24px;
	text-transform:uppercase;
	color:#000;
}
@media (max-width: 480px) {
	ul.list_3 li h5 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
		line-height:30px;
		font-size:20px;
	}
}
ul.list_3 li h5 a {
	text-decoration:none;
	color:#000;
}
ul.list_3 li h5 a:focus {
	text-decoration:none;
	color:#000;
}
ul.list_3 li h5 a:hover {
	text-decoration:none;
	color:#757575;
}
ul.list_3 li .excerpt { margin:0 0 14px 0; }
ul.list_3 li a.btn-primary {
	min-width:1px;
	margin:0;
	padding:0;
	border:none;
	line-height:24px;
	font-size:18px;
	text-transform:lowercase;
	text-decoration:underline;
	color:#757575;
}
ul.list_3 li a.btn-primary:focus {
	text-decoration:underline;
	color:#757575;
}
ul.list_3 li a.btn-primary:hover {
	text-decoration:underline;
	color:#000;
}
ul.list_4 li {
	background:#fff;
	margin-bottom:8px;
	padding-bottom:23px;
	color:#000;
}
@media (max-width: 767px) {
	ul.list_4 li { margin:20px 0 0 0; }
}
@media (max-width: 767px) {
	ul.list_4 li:first-child { margin:0; }
}
ul.list_4 li h5 { display:none; }
ul.list_4 li .thumbnail { margin:0 0 25px 0; }
@media (max-width: 767px) {
	ul.list_4 li .thumbnail { float:none; }
}
ul.list_4 li .excerpt {
	margin:0 0 17px 0;
	padding:0 30px 0 30px;
}
ul.list_4 li .excerpt a {
	text-decoration:none;
	color:#000;
}
ul.list_4 li .excerpt a:focus {
	text-decoration:none;
	color:#000;
}
ul.list_4 li .excerpt a:hover {
	text-decoration:none;
	color:#777;
}
ul.list_4 li a.btn-primary {
	min-width:1px;
	margin:0;
	padding:0;
	border:none;
	line-height:30px;
	font-size:24px;
	text-transform:lowercase;
	text-decoration:underline;
	color:#000;
}
ul.list_4 li a.btn-primary:focus {
	text-decoration:underline;
	color:#000;
}
ul.list_4 li a.btn-primary:hover {
	text-decoration:underline;
	color:#757575;
}
.content_box.box {
	background:none;
	position:relative;
}
.content_box.box:before, .content_box.box:after { display:none; }
.content_box.box h2 {
	position:absolute;
	top:78px;
	right:0;
	left:0;
	z-index:99;
}
@media (max-width: 767px) {
	.content_box.box h2 { top:40px; }
}
.content_box.box h2:before { background-image:url(images/title_icon_1.png); }
.content_box.box_1 {
	background:url(images/bg.png) repeat 0% 0%;
	position:relative;
	padding:49px 0 22px 0;
	text-align:left;
	z-index:99;
}
.content_box.box_1:before {
	background:url(images/bg.png) repeat 0% 0%;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	left:-100%;
	z-index:-1;
	content:'';
}
.content_box.box_1:after {
	background:url(images/bg.png) repeat 0% 0%;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	right:-100%;
	z-index:-1;
	content:'';
}
.content_box.box_1 .hero-unit {
	float:left;
	width:570px;
	margin:0 30px 0 0;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.content_box.box_1 .hero-unit {
		width:460px;
		margin:0 20px 0 0;
	}
}
html.ie8 .content_box.box_1 .hero-unit {
	width:460px;
	margin:0 20px 0 0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.content_box.box_1 .hero-unit {
		width:352px;
		margin:0 20px 0 0;
	}
}
@media (max-width: 767px) {
	.content_box.box_1 .hero-unit {
		float:none;
		width:100%;
		margin:15px 0;
	}
}
.content_box.box_1 .hero-unit.no_indent { margin-right:0; }
html.ie8 .content_box.box_1 .hero-unit.no_indent { margin-right:0; }
.content_box.center {
	background:none;
	margin:0 0 101px 0;
	text-align:center;
}
.content_box.center:before, .content_box.center:after { display:none; }
.hero-unit {
	background:none;
	padding:0 0 9px 0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.hero-unit h1 {
	float:left;
	min-width:49px;
	margin:0;
	padding:0 5px 0 0;
	line-height:60px;
	font-size:53px;
	color:#fff;
}
.hero-unit p {
	overflow:hidden;
	padding:3px 0 0 0;
	line-height:23px;
	font-size:15px;
	color:#777;
}
.hero-unit p strong {
	display:block;
	margin:0 0 26px 0;
	line-height:34px;
	font-family:'Lato', sans-serif;
	font-size:24px;
	font-weight:400;
	text-transform:uppercase;
	color:#fff;
}
a.btn-primary {
	background:none;
	position:relative;
	min-width:154px;
	margin:0;
	padding:20px 32px 20px 32px;
	border:2px solid #fff;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:26px;
	font-size:26px;
	font-weight:400;
	text-transform:uppercase;
	text-shadow:none;
	text-align:center;
	text-decoration:none;
	color:#fff;
	z-index:99;
}
a.btn-primary:focus {
	background:none;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#fff;
}
a.btn-primary:focus:before {
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	top:100%;
}
a.btn-primary:hover {
	background:none;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#777;
}
a.btn-primary:hover:before {
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	top:0;
}
a.btn-primary:before {
	background:#fff;
	display:block;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	position:absolute;
	top:100%;
	right:0;
	bottom:0;
	left:0;
	z-index:-1;
	content:'';
}
.flexslider.extra {
	overflow:visible !important;
	margin:0 0 89px 0;
}
.flexslider.extra ul li .thumbnail {
	position:relative;
	width:1920px;
	margin:0 0 0 -960px;
	left:50%;
	z-index:-1;
}
@media (min-width: 1921px) {
	.flexslider.extra ul li .thumbnail {
		width:2100px;
		margin:0 0 0 -1050px;
	}
}
@media (max-width: 767px) {
	.flexslider.extra ul li .thumbnail {
		width:1400px;
		margin:0 0 0 -700px;
	}
}
.flexslider.extra ul li .caption {
	background:url(images/caption.png) repeat 50% 0%;
	padding:44px 100px 46px 100px;
	text-align:center;
	position:absolute;
	top:391px;
	right:0;
	left:0;
}
@media (min-width: 1921px) {
	.flexslider.extra ul li .caption { top:441px; }
}
@media (max-width: 767px) {
	.flexslider.extra ul li .caption {
		padding:20px 50px 20px 50px;
		top:300px;
	}
}
@media (max-width: 480px) {
	.flexslider.extra ul li .caption {
		padding:20px 30px 20px 30px;
		top:280px;
	}
}
.flexslider.extra ul li .caption:before {
	background:url(images/caption.png) repeat 50% 0%;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	left:-100%;
	z-index:-1;
	content:'';
}
.flexslider.extra ul li .caption:after {
	background:url(images/caption.png) repeat 50% 0%;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	right:-100%;
	z-index:-1;
	content:'';
}
.flexslider.extra ul li .caption .price {
	display:block;
	margin:0 0 9px 0;
	line-height:74px;
	font-family:'Alex Brush', cursive;
	font-size:74px;
	font-weight:400;
	color:#fff;
}
@media (max-width: 767px) {
	.flexslider.extra ul li .caption .price {
		line-height:34px;
		font-size:34px;
	}
}
.flexslider.extra ul li .caption .price i {
	display:inline-block;
	vertical-align:top;
	line-height:40px;
	font-size:40px;
	font-style:normal;
}
@media (max-width: 767px) {
	.flexslider.extra ul li .caption .price i {
		line-height:20px;
		font-size:20px;
	}
}
.flexslider.extra ul li .caption h5 { margin:0 0 16px 0; }
@media (max-width: 767px) {
	.flexslider.extra ul li .caption h5 {
		line-height:30px;
		font-size:20px;
	}
}
.flexslider.extra ul li .caption .excerpt {
	margin:0;
	padding:0;
	color:#fff;
}
@media (max-width: 767px) {
	.flexslider.extra ul li .caption .excerpt {
		line-height:20px;
		font-size:13px;
	}
}
.flexslider.extra ul li .caption a.btn { display:none; }
.flexslider.extra ol.flex-control-nav {
	line-height:0;
	font-size:0;
	position:absolute;
	width:100%;
	right:0;
	bottom:92px;
	left:0;
	z-index:99;
}
@media (max-width: 480px) {
	.flexslider.extra ol.flex-control-nav { bottom:40px; }
}
.flexslider.extra ol.flex-control-nav li {
	margin:0 12px 0 13px;
	line-height:30px;
	font-family:'Alex Brush', cursive;
	font-size:26px;
	font-weight:400;
	color:#757575;
}
.flexslider.extra ol.flex-control-nav li a {
	background:none;
	width:auto;
	height:auto;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-indent:inherit;
	text-decoration:none;
	color:#757575;
}
.flexslider.extra ol.flex-control-nav li a:focus {
	text-decoration:none;
	color:#757575;
}
.flexslider.extra ol.flex-control-nav li a:hover, .flexslider.extra ol.flex-control-nav li a.flex-active {
	text-decoration:none;
	color:#fff;
}
.flexslider.extra .flex-prev {
	background:none;
	width:16px;
	height:33px;
	margin:-16px 0 0 0;
	opacity:1;
	filter:alpha(opacity=100);
	line-height:0;
	font-size:0;
	left:0;
}
@media (min-width: 1800px) {
	.flexslider.extra .flex-prev { left:-315px; }
}
.flexslider.extra .flex-prev:hover:before {
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
html.ie8 .flexslider.extra .flex-prev:hover:before { display:none; }
.flexslider.extra .flex-prev:hover:after {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
html.ie8 .flexslider.extra .flex-prev:hover:after { display:block; }
.flexslider.extra .flex-prev:before {
	background:url(images/prev.png) no-repeat 0% 0%;
	width:16px;
	height:33px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:0;
	font-size:0;
	position:absolute;
	top:0;
	left:0;
	content:'';
}
.flexslider.extra .flex-prev:after {
	background:url(images/prev_act.png) no-repeat 0% 0%;
	width:16px;
	height:33px;
	overflow:hidden;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:0;
	font-size:0;
	position:absolute;
	top:0;
	left:0;
	content:'';
}
html.ie8 .flexslider.extra .flex-prev:after { display:none; }
.flexslider.extra .flex-next {
	background:none;
	width:16px;
	height:33px;
	margin:-16px 0 0 0;
	opacity:1;
	filter:alpha(opacity=100);
	line-height:0;
	font-size:0;
	right:0;
}
@media (min-width: 1800px) {
	.flexslider.extra .flex-next { right:-315px; }
}
.flexslider.extra .flex-next:hover:before {
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
html.ie8 .flexslider.extra .flex-next:hover:before { display:none; }
.flexslider.extra .flex-next:hover:after {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
html.ie8 .flexslider.extra .flex-next:hover:after { display:block; }
.flexslider.extra .flex-next:before {
	background:url(images/next.png) no-repeat 0% 0%;
	width:16px;
	height:33px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:0;
	font-size:0;
	position:absolute;
	top:0;
	left:0;
	content:'';
}
.flexslider.extra .flex-next:after {
	background:url(images/next_act.png) no-repeat 0% 0%;
	width:16px;
	height:33px;
	overflow:hidden;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:0;
	font-size:0;
	position:absolute;
	top:0;
	left:0;
	content:'';
}
html.ie8 .flexslider.extra .flex-next:after { display:none; }
.service-box {
	background:none;
	margin:0 0 54px 0;
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-align:center;
}
.service-box .icon {
	display:block;
	float:none;
	margin:0 0 32px 0;
	padding:0 0 40px 0;
	border-bottom:1px solid #404040;
}
.service-box h2 {
	margin:0 0 26px 0;
	padding:0;
	line-height:34px !important;
	font-family:'Lato', sans-serif;
	font-size:24px !important;
	font-weight:400;
	text-transform:uppercase;
	color:#fff;
}
@media (min-width: 1200px) {
	.service-box h2 { padding:0 20px; }
}
.service-box h2:before { display:none; }
@media (max-width: 767px) {
	.parallax_content { padding:0 20px; }
}
.cherry_media_parallax {
	margin-bottom:99px;
	padding-top:77px;
	padding-bottom:100px;
	text-align:center;
}
.cherry_media_parallax:before {
	background:rgba(0,0,0,0.5);
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
}
html.ie8 .cherry_media_parallax:before { background:url(images/black-opacity-60.png) repeat 0% 0%; }
.cherry_media_parallax .container { position:relative; }
.cherry_media_parallax h2 { margin-bottom:66px; }
.cherry_media_parallax h2:before { background-image:url(images/title_icon_1.png); }
.cherry_media_parallax_1 {
	margin-top:43px;
	margin-bottom:-100px;
	padding-top:78px;
	padding-bottom:100px;
	text-align:center;
}
.cherry_media_parallax_1:before {
	background:rgba(0,0,0,0.5);
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
}
html.ie8 .cherry_media_parallax_1:before { background:url(images/black-opacity-60.png) repeat 0% 0%; }
.cherry_media_parallax_1 .container { position:relative; }
.cherry_media_parallax_1 h2 { margin-bottom:66px; }
.cherry_media_parallax_1 h2:before { background-image:url(images/title_icon_1.png); }
.cherry_media_parallax_2 {
	margin-top:51px;
	margin-bottom:100px;
	padding-top:78px;
	padding-bottom:165px;
	text-align:center;
}
.cherry_media_parallax_2:before {
	background:rgba(0,0,0,0.5);
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
}
html.ie8 .cherry_media_parallax_2:before { background:url(images/black-opacity-60.png) repeat 0% 0%; }
.cherry_media_parallax_2 .container { position:relative; }
.cherry_media_parallax_2 h2 { margin-bottom:66px; }
.cherry_media_parallax_2 h2:before { background-image:url(images/title_icon_1.png); }
.cherry_media_parallax_3 {
	margin-top:43px;
	margin-bottom:-100px;
	padding-top:77px;
	padding-bottom:100px;
	text-align:center;
}
.cherry_media_parallax_3:before {
	background:rgba(0,0,0,0.5);
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
}
html.ie8 .cherry_media_parallax_3:before { background:url(images/black-opacity-60.png) repeat 0% 0%; }
.cherry_media_parallax_3 .container { position:relative; }
.cherry_media_parallax_3 h2 { margin-bottom:66px; }
.cherry_media_parallax_3 h2:before { background-image:url(images/title_icon_1.png); }
.testimonials {
	width:100%;
	overflow:hidden;
	padding:19px 0 58px 0;
}
.testimonials .testi-item {
	float:left;
	width:370px;
	margin:0 0 0 30px;
	text-align:center;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.testimonials .testi-item {
		width:300px;
		margin:0 0 0 20px;
	}
}
html.ie8 .testimonials .testi-item {
	width:300px;
	margin:0 0 0 20px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.testimonials .testi-item {
		width:228px;
		margin:0 0 0 20px;
	}
}
@media (max-width: 767px) {
	.testimonials .testi-item {
		display:block;
		float:none;
		width:100%;
		margin:30px 0 0 0;
	}
}
.testimonials .testi-item:first-child { margin:0; }
html.ie8 .testimonials .testi-item:first-child { margin:0; }
.testimonials .testi-item blockquote {
	background:none;
	margin:0;
	padding:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.testimonials .testi-item blockquote:before, .testimonials .testi-item blockquote:after { display:none; }
.testimonials .testi-item blockquote .featured-thumbnail {
	display:block;
	float:none;
	width:100%;
	height:auto;
	margin:0 0 17px 0;
}
.testimonials .testi-item blockquote .featured-thumbnail img {
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.testimonials .testi-item .testi-meta {
	padding:21px 0 0 0;
	line-height:34px;
	font-family:'Lato', sans-serif;
	font-size:24px;
	text-transform:uppercase;
	color:#fff;
}
.testimonials .testi-item .testi-meta .user:after { display:none; }
.list.custom-list { padding:0 0 56px 0; }
.list.custom-list ul {
	margin:0;
	padding:0;
}
.list.custom-list ul li {
	width:100%;
	overflow:hidden;
	margin:0;
	padding:4px 0 5px 0;
	border-bottom:1px solid #4c4c4c;
	list-style:none;
	line-height:20px;
	font-size:15px;
	color:#777;
}
.list.custom-list ul li:before { display:none; }
.list.custom-list ul li em {
	float:right;
	margin:0 0 0 10px;
	font-style:normal;
	color:#fff;
}
.list.custom-list ul li a {
	text-decoration:none;
	color:#777;
}
.list.custom-list ul li a:focus {
	text-decoration:none;
	color:#777;
}
.list.custom-list ul li a:hover {
	text-decoration:none;
	color:#fff;
}
.list.arrow-list { padding:0 0 42px 0; }
.list.arrow-list ul {
	margin:0;
	padding:0;
}
.list.arrow-list ul li {
	position:relative;
	margin:8px 0 0 0;
	padding:0 0 0 18px;
	list-style:none;
	line-height:20px;
	font-size:15px;
	text-transform:uppercase;
	color:#777;
}
.list.arrow-list ul li:first-child { margin:0; }
.list.arrow-list ul li:before {
	line-height:20px;
	font-family:FontAwesome;
	font-size:15px;
	color:#bababa;
	position:absolute;
	top:0;
	left:0;
	content:'\f054';
}
.list.arrow-list ul li a {
	text-decoration:none;
	color:#777;
}
.list.arrow-list ul li a:hover {
	text-decoration:none;
	color:#fff;
}
.list.arrow-list ul li ul { padding:8px 0 0 0; }
.footer {
	background:none;
	margin:0;
	padding:105px 0 105px 0;
	border-top:4px solid #060606;
	text-align:center;
}
@media (max-width: 767px) {
	.footer { padding:60px 20px 60px 20px; }
}
body.home .footer {
	background:#171717 url(images/body.jpg) repeat 50% 0%;
	border:none;
}
.footer .custom_map {
	position:relative;
	margin:-105px 0 105px 0;
}
@media (max-width: 767px) {
	.footer .custom_map { margin:-60px 0 60px 0; }
}
.footer .custom_map #map {
	position:relative;
	width:1100px;
	margin:0 0 0 -1100px;
	left:50%;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.footer .custom_map #map {
		width:470px;
		height:500px;
		margin:0 0 0 -470px;
	}
}
html.ie8 .footer .custom_map #map {
	width:960px;
	margin:0 0 0 -960px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer .custom_map #map {
		height:362px;
		width:362px;
		margin:0 0 0 -362px;
	}
}
@media (max-width: 767px) {
	.footer .custom_map #map {
		width:auto;
		height:300px;
		margin:0 -20px 0 -20px;
		left:auto;
	}
}
.footer .custom_map:after {
	background:url(images/map_image.jpg) no-repeat 50% 50%;
	background-size:cover;
	display:block;
	width:1100px;
	margin:0 -1100px 0 0;
	position:absolute;
	top:0;
	right:50%;
	bottom:0;
	left:auto;
	content:'';
}
@media (min-width: 980px) and (max-width: 1200px) {
	.footer .custom_map:after {
		width:470px;
		margin:0 -470px 0 0;
	}
}
html.ie8 .footer .custom_map:after {
	background-position:0% 0%;
	width:960px;
	margin:0 -960px 0 0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer .custom_map:after {
		width:362px;
		margin:0 -362px 0 0;
	}
}
@media (max-width: 767px) {
	.footer .custom_map:after { display:none; }
}
.footer .footer-text {
	float:none;
	margin:0 0 26px 0;
	line-height:22px;
	font-size:15px;
	color:#646464;
}
.footer .footer-text a {
	text-decoration:none;
	color:#646464;
}
.footer .footer-text a:focus {
	text-decoration:none;
	color:#646464;
}
.footer .footer-text a:hover {
	text-decoration:none;
	color:#fff;
}
.footer .social-nets-wrapper ul {
	margin:0;
	padding:0;
	line-height:0;
	font-size:0;
}
.footer .social-nets-wrapper ul li {
	display:inline-block;
	margin:0 15px;
	padding:0;
	list-style:none;
	vertical-align:top;
}
.footer .social-nets-wrapper ul li a { display:block; }
.footer .social-nets-wrapper ul li a:hover:before {
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#757575;
}
.footer .social-nets-wrapper ul li a:before {
	display:inline-block;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	vertical-align:top;
	line-height:40px;
	font-family:FontAwesome;
	font-size:40px;
	color:#fff;
}
.footer .social-nets-wrapper ul li a[title="facebook"]:before { content:'\f09a'; }
.footer .social-nets-wrapper ul li a[title="twitter"]:before { content:'\f099'; }
.footer .social-nets-wrapper ul li a img { display:none; }
.footer .footer-nav {
	float:none;
	margin:26px 0 0 0;
}
.footer .footer-nav ul { float:none; }
.footer .footer-nav ul li {
	display:inline-block;
	float:none;
	margin:0 7px;
	padding:0;
	vertical-align:top;
}
.footer .footer-nav ul li.current-menu-item a {
	text-decoration:none;
	color:#fff;
}
.footer .footer-nav ul li.current-menu-item a:focus {
	text-decoration:none;
	color:#fff;
}
.footer .footer-nav ul li.current-menu-item a:hover {
	text-decoration:none;
	color:#fff;
}
.footer .footer-nav ul li a:focus {
	text-decoration:none;
	color:#646464;
}
.footer .footer-nav ul li a:hover {
	text-decoration:none;
	color:#fff;
}
#back-top-wrapper p#back-top { margin:0; }
#back-top-wrapper p#back-top a:hover span { background-color:#000; }
#back-top-wrapper p#back-top a span {
	background-color:#404040;
	margin:0;
}
.thumbnail {
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.thumbnail a:hover .zoom-icon:before {
	margin-top:-15px;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	top:50%;
}
.thumbnail a .zoom-icon:before {
	background:url(images/magnify.png) no-repeat 0% 0%;
	width:30px;
	height:30px;
	margin:0 0 0 -15px;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	top:-30px;
}
#map img { max-width:none; }
#map #content {
	font-size:10px;
	color:#babbc2;
	padding-top:0;
}
#map #content h6 {
	font-size:13px;
	line-height:1.2em;
	color:#434458;
	margin:0 0 4px 0;
}
#map #content p {
	line-height:14px;
	margin-bottom:0;
}
#map #content a {
	color:#777777;
	text-decoration:underline;
}
#map #content a:hover, #map #content a:focus { text-decoration:none; }
.gm-style .gm-style-iw #content a { font-size:11px; }
.title-section {
	background:url(images/menu.png) repeat 0% 0%;
	position:relative;
	margin:-100px 0 0 0;
	padding:7px 0 7px 0;
	text-align:center;
}
.title-section:before {
	background:url(images/menu.png) repeat 0% 0%;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	left:-100%;
	z-index:-1;
	content:'';
}
.title-section:after {
	background:url(images/menu.png) repeat 0% 0%;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	right:-100%;
	z-index:-1;
	content:'';
}
.title-section h1 {
	margin:0;
	line-height:39px;
	font-size:31px;
	text-transform:uppercase;
}
.title-section ul {
	background:none;
	margin:0;
	padding:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.title-section ul li {
	line-height:25px;
	font-size:13px;
	font-weight:400;
	text-shadow:none;
	color:#777;
}
.title-section ul li.active { color:#fff; }
.title-section ul li a {
	text-decoration:none;
	color:#777;
}
.title-section ul li a:focus {
	text-decoration:none;
	color:#777;
}
.title-section ul li a:hover {
	text-decoration:none;
	color:#fff;
}
.post-header h2 { margin-bottom:63px !important; }
article.post h3 {
	margin:0 0 20px 0;
	line-height:34px !important;
	font-family:'Lato', sans-serif;
	font-size:24px !important;
	text-align:left;
	text-transform:uppercase;
	color:#fff;
}
article.post h3:before { display:none; }
.pagination ul li.active a, .pagination ul li.active span {
	text-decoration:none;
	color:#000;
}
.pagination ul li.active a:focus, .pagination ul li.active span:focus {
	text-decoration:none;
	color:#000;
}
.pagination ul li.active a:hover, .pagination ul li.active span:hover {
	text-decoration:none;
	color:#000;
}
.pagination ul li a, .pagination ul li span {
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
	color:#777;
}
.pagination ul li a:focus, .pagination ul li span:focus {
	text-decoration:none;
	color:#777;
}
.pagination ul li a:hover, .pagination ul li span:hover {
	text-decoration:none;
	color:#000;
}
.post_meta {
	border-color:#757575;
	line-height:20px;
	font-size:13px;
}
.post_meta i { color:#757575; }
.post_meta a {
	text-decoration:none;
	color:#777;
}
.post_meta a:focus {
	text-decoration:none;
	color:#777;
}
.post_meta a:hover {
	text-decoration:none;
	color:#fff;
}
.post-author {
	background:#6c6c6c;
	border:none;
	line-height:20px;
	color:#dfdfdf;
}
.post-author h3 {
	margin:0 0 15px 0;
	line-height:20px;
	font-size:15px;
	text-align:left;
	text-transform:uppercase;
	color:#fff;
}
.post-author h3:before { display:none; }
.post-author h3 a {
	text-decoration:none;
	color:#000;
}
.post-author h3 a:focus {
	text-decoration:none;
	color:#000;
}
.post-author h3 a:hover {
	text-decoration:none;
	color:#fff;
}
@media (max-width: 480px) {
	.post-author .post-author_desc { overflow:visible; }
}
.post-author .post-author_gravatar { margin:5px 15px 5px 0; }
.post-author .post-author_gravatar img {
	padding:0;
	border:none;
}
.post-author .post-author_link { margin:12px 0 0 0; }
.post-author .post-author_link p {
	margin:0;
	text-transform:uppercase;
}
.post-author .post-author_link p a {
	text-decoration:none;
	color:#000;
}
.post-author .post-author_link p a:focus {
	text-decoration:none;
	color:#000;
}
.post-author .post-author_link p a:hover {
	text-decoration:none;
	color:#fff;
}
.related-posts h3 { margin-bottom:63px; }
.related-posts ul li {
	line-height:18px;
	font-size:18px;
	text-transform:uppercase;
	color:#fff;
}
ol.comment-list li {
	line-height:20px;
	color:#dfdfdf;
}
ol.comment-list li .comment-body {
	background:#6d6d6d !important;
	border:none;
}
ol.comment-list li .comment-body .author {
	padding:12px 0 0 0;
	line-height:20px;
	font-size:18px;
	font-weight:700;
	text-align:left;
	text-transform:uppercase;
	color:#fff;
}
@media (max-width: 480px) {
	ol.comment-list li .comment-body .extra-wrap { overflow:visible; }
}
ol.comment-list li .comment-body .reply { margin:0 0 0 25px; }
ol.comment-list li .comment-body .reply a {
	background:none;
	margin:0;
	padding:0;
	line-height:22px;
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	text-decoration:underline !important;
	color:#fff;
}
ol.comment-list li .comment-body .reply a:focus { color:#fff; }
ol.comment-list li .comment-body .reply a:hover { color:#000; }
ol.comment-list li .comment-body .comment-meta {
	margin:0;
	padding:0;
	line-height:22px;
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	color:#fff;
}
#comments h3 { margin-bottom:63px; }
#commentform p {
	width:100%;
	overflow:hidden;
}
@media (max-width: 767px) {
	#commentform input[type="text"], #commentform input[type="email"], #commentform textarea { min-height:38px; }
}
#commentform input[type="submit"] { margin:0; }
.cancel-comment-reply { padding:0 0 8px 0; }
.google-map { margin:0 0 30px 0; }
.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form textarea { padding:5px 8px !important; }
.wpcf7-form .wpcf7-not-valid-tip {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	line-height:20px;
	font-size:13px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7-form .wpcf7-not-valid-tip {
		padding-right:2px !important;
		padding-left:3px !important;
		font-size:10px !important;
	}
}
.wpcf7-form .ajax-loader { margin:21px 0 0 0; }
.wpcf7-form .wpcf7-response-output {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.filter-wrapper {
	background:url(images/title_icon.png) no-repeat 50% 0%;
	margin:12px 0 0 0;
	padding:131px 0 53px 0;
	text-align:center;
}
@media (max-width: 767px) {
	.filter-wrapper {
		background-position:80% 0;
		text-align:left;
	}
}
@media (max-width: 480px) {
	.filter-wrapper { background-position:50% 0; }
}
.filter-wrapper .pull-right { float:none; }
@media (max-width: 767px) {
	.filter-wrapper .pull-right { float:right; }
}
.filter-wrapper strong {
	display:inline-block;
	float:none;
	margin:0;
	padding:0;
	vertical-align:top;
	line-height:30px;
	font-size:24px;
	font-weight:400;
	text-transform:uppercase;
	color:#757575;
}
@media (min-width: 768px) and (max-width: 979px) {
	.filter-wrapper strong {
		line-height:26px;
		font-size:20px;
	}
}
@media (max-width: 767px) {
	.filter-wrapper strong { float:left; }
}
@media (max-width: 480px) {
	.filter-wrapper strong {
		line-height:24px;
		font-size:18px;
	}
}
.filter-wrapper ul {
	display:inline-block;
	float:none;
	vertical-align:top;
	line-height:0;
	font-size:0;
}
@media (max-width: 767px) {
	.filter-wrapper ul {
		float:left;
		margin:0 0 0 20px;
	}
}
.filter-wrapper ul li {
	display:inline-block;
	margin:0 0 0 54px;
	vertical-align:top;
	line-height:30px;
	font-size:24px;
	text-transform:uppercase;
	color:#fff;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.filter-wrapper ul li { margin:0 0 0 40px; }
}
html.ie8 .filter-wrapper ul li { margin:0 0 0 40px; }
@media (min-width: 768px) and (max-width: 979px) {
	.filter-wrapper ul li {
		margin:0 0 0 20px;
		line-height:26px;
		font-size:20px;
	}
}
@media (max-width: 767px) {
	.filter-wrapper ul li {
		display:block;
		float:none;
		margin:10px 0 0 0;
	}
}
@media (max-width: 480px) {
	.filter-wrapper ul li {
		line-height:24px;
		font-size:18px;
	}
}
@media (max-width: 767px) {
	.filter-wrapper ul li:first-child { margin:0; }
}
.filter-wrapper ul li.active a {
	background:none;
	text-decoration:none;
	color:#757575;
}
.filter-wrapper ul li.active a:focus {
	background:none;
	text-decoration:none;
	color:#757575;
}
.filter-wrapper ul li.active a:hover {
	background:none;
	text-decoration:none;
	color:#757575;
}
.filter-wrapper ul li a {
	background:none;
	margin:0;
	padding:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	line-height:30px;
	font-size:24px;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	.filter-wrapper ul li a {
		line-height:26px;
		font-size:20px;
	}
}
@media (max-width: 480px) {
	.filter-wrapper ul li a {
		line-height:24px;
		font-size:18px;
	}
}
.filter-wrapper ul li a:focus {
	background:none;
	text-decoration:none;
	color:#fff;
}
.filter-wrapper ul li a:hover {
	background:none;
	text-decoration:none;
	color:#757575;
}
#portfolio-grid li { color:#000; }
#portfolio-grid li .caption {
	background:#fff;
	padding:20px 20px 30px 20px;
}
#portfolio-grid li .caption h3 {
	margin:0 0 14px 0;
	padding:0;
	line-height:34px;
	font-size:24px;
	text-align:left;
	color:#000;
}
@media (max-width: 767px) {
	#portfolio-grid li .caption h3 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
		line-height:30px !important;
		font-size:20px !important;
	}
}
#portfolio-grid li .caption h3:before { display:none; }
#portfolio-grid li .caption h3 a {
	text-decoration:none;
	color:#000;
}
#portfolio-grid li .caption h3 a:focus {
	text-decoration:none;
	color:#000;
}
#portfolio-grid li .caption h3 a:hover {
	text-decoration:none;
	color:#757575;
}
#portfolio-grid li .caption p { margin:0; }
#portfolio-grid li .caption p.excerpt { margin:0 0 14px 0; }
#portfolio-grid li .caption a.btn-primary {
	background:none;
	min-width:1px;
	margin:0;
	padding:0;
	border:none;
	line-height:24px;
	font-size:18px;
	text-transform:lowercase;
	text-decoration:underline;
	color:#757575;
}
#portfolio-grid li .caption a.btn-primary:focus {
	text-decoration:underline;
	color:#757575;
}
#portfolio-grid li .caption a.btn-primary:hover {
	text-decoration:underline;
	color:#000;
}
.type-portfolio .thumbnail.large { margin:0; }
ul.pager {
	margin-top:30px;
	border-color:#757575;
}
ul.pager li a {
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	color:#000;
}
ul.pager li a:focus {
	background:#fff;
	color:#000;
}
ul.pager li a:hover {
	background:#000;
	color:#fff;
}
.entry-meta .portfolio-meta { border-color:#757575; }
.entry-meta .portfolio-meta-list { border-color:#757575; }
@media (max-width: 767px) {
	.error404-holder { text-align:center; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.error404-holder .error404-holder_num { font-size:220px; }
}
.error404-holder h2 {
	margin:0;
	padding:0;
	text-align:left;
}
.error404-holder h2:before { display:none; }
@media (max-width: 767px) {
	.error404-holder h2 { text-align:center; }
}
.error404-holder h4 {
	margin:0 0 15px 0;
	line-height:20px;
	font-size:13px;
	text-align:left;
}
@media (max-width: 767px) {
	.error404-holder h4 { text-align:center; }
}
article.testimonial {
	background:#6c6c6c;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	color:#fff;
}
article.testimonial a:focus { color:#fff; }
article.testimonial a:hover { color:#000; }
.archive_lists h3 {
	margin:0 0 20px 0;
	padding:0;
	line-height:30px !important;
	font-size:24px !important;
	text-align:left;
	color:#777;
}
.archive_lists h3:before { display:none; }
.faq-list h4 {
	margin:0;
	padding:0;
	border:none;
	line-height:24px;
	font-size:18px;
	font-weight:400 !important;
	text-align:left;
}
html.ie8 .posts-grid li .thumbnail img { max-width:inherit; }
@media (max-width: 767px) {
	.full-bg-slider { display:none !important; }
}
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:33px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
