/*import CherryFramework style*/
@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(//fonts.googleapis.com/css?family=Lato);
@import url(//fonts.googleapis.com/css?family=Alex+Brush);

/* #General
================================================== */

body {
	background: #171717 url(images/body.jpg) repeat 50% 0%;

	@media (max-width: 767px) {
		background: #171717 !important;
		padding: 0;
	}

}

.main-holder {
	overflow: hidden;

	input[type="text"], input[type="email"], textarea {
		background: #161616;
		min-height: 20px;
		margin: 0;
		padding: 9px 15px 9px 15px !important;
		border: 1px solid #343434 !important;
		.border-radius(0);
		.box-shadow(none);
		resize: none;
		font-family: @RobotoFontFamily;
		font-size: 15px;
		font-weight: 400;
		color: #dfdfdf !important;
	}

	input[type="submit"], input[type="reset"] {
		background: #757575;
		height: 62px;
		margin: 0 15px 0 0;
		padding: 0 14px 0 14px;
		border: none;
		.border-radius(0);
		.box-shadow(none);
		.transition(0.8s);
		font-family: @RobotoFontFamily;
		font-size: 26px;
		font-weight: 400;
		text-shadow: none;
		text-transform: uppercase;
		color: #fff;

		@media (max-width: 767px) {
			font-size: 20px;
		}

		&:focus {
			background: #757575;
			.transition(0.4s);
			color: #fff;
		}

		&:hover {
			background: #fff;
			.transition(0.4s);
			color: #757575;
		}

	}

	.search-form {

		input[type="text"] {

			@media (min-width: 980px) and (max-width: 1200px) {
				width: 135px;
			}

			html.ie8 & {
				width: 135px;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				width: 80px;
			}

			@media (max-width: 480px) {
				width: 115px;
			}

		}

		input[type="submit"] {
			height: 43px;
			margin: 0 0 0 10px;
			font-size: 20px;

			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 16px;
			}

		}

	}

}

h2 {
	margin-bottom: 26px;
	text-align: center;
	text-transform: uppercase;

	@media (min-width: 768px) and (max-width: 979px) {
		.hyphens(auto);
		line-height: 50px !important;
		font-size: 40px !important;
	}

	@media (max-width: 767px) {
		line-height: 50px !important;
		font-size: 40px !important;
	}

	@media (max-width: 480px) {
		line-height: 40px !important;
		font-size: 30px !important;
	}

	&:before {
		background: url(images/title_icon.png) no-repeat 50% 0%;
		display: block;
		height: 76px;
		margin: 0 0 25px 0;
		content: '';
	}

	a {
		text-decoration: none;
		color: #fff;

		&:focus {
			text-decoration: none;
			color: #fff;
		}

		&:hover {
			text-decoration: none;
			color: #404040;
		}

	}

	br {

		@media (max-width: 767px) {
			display: none;
		}

	}

}

h3 {
	margin-bottom: 63px;
	text-align: center;
	text-transform: uppercase;

	@media (min-width: 768px) and (max-width: 979px) {
		.hyphens(auto);
		line-height: 50px !important;
		font-size: 40px !important;
	}

	@media (max-width: 767px) {
		line-height: 50px !important;
		font-size: 40px !important;
	}

	@media (max-width: 480px) {
		line-height: 40px !important;
		font-size: 30px !important;
	}

	&:before {
		background: url(images/title_icon.png) no-repeat 50% 0%;
		display: block;
		height: 76px;
		margin: 0 0 25px 0;
		content: '';
	}

	a {
		text-decoration: none;
		color: #fff;

		&:focus {
			text-decoration: none;
			color: #fff;
		}

		&:hover {
			text-decoration: none;
			color: #777;
		}

	}

	em {
		display: block;
		margin: 0 0 -6px 0;
		font-style: normal;
	}

}

h4 {
	margin: 0 0 62px 0;
	padding: 32px 0 0 0;
	letter-spacing: 1px;
	border-top: 1px solid #404040;
	text-align: center;
	text-transform: uppercase;

	@media (max-width: 480px) {
		line-height: 28px !important;
		font-size: 18px !important;
	}

	a {
		text-decoration: none;
		color: #fff;

		&:focus {
			text-decoration: none;
			color: #fff;
		}

		&:hover {
			text-decoration: none;
			color: #404040;
		}

	}

}

h5 {
	text-transform: uppercase;

	a {
		text-decoration: none;
		color: #fff;

		&:focus {
			text-decoration: none;
			color: #fff;
		}

		&:hover {
			text-decoration: none;
			color: #777;
		}

	}

	strong {
		display: block;
		line-height: 23px;
		font-family: @RobotoFontFamily;
		font-size: 15px;
		font-weight: 400;
		text-transform: none;
	}

	em {
		display: block;
		padding: 0 0 10px 0;
		font-style: normal;
	}

	@media (max-width: 767px) {
		.hyphens(auto);
	}

}

h6 {
	margin: 0 0 15px 0;
	text-transform: uppercase;

	a {
		text-decoration: none;
		color: #fff;

		&:focus {
			text-decoration: none;
			color: #fff;
		}

		&:hover {
			text-decoration: none;
			color: #777;
		}

	}

}

p {
	margin: 0 0 23px 0;
}

a {
	.transition(0.8s);

	&:hover {
		.transition(0.4s);
		text-decoration: none;
	}

}

img.alignleft {
	margin: 5px 30px 5px 0;

	@media (max-width: 767px) {
		max-width: 50%;
	}

}

/* #Header
================================================== */

.header {
	background: url(images/header.jpg) no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	z-index: 999;
	margin: 0;
	padding: 50px 0 0 0;
	border: none;
	text-align: center;

	@media (max-width: 767px) {
		padding: 50px 20px 0 20px;
	}

	body.home & {
		background: none;
		padding: 389px 0 0 0;

		@media (min-width: 980px) and (max-width: 1200px) {
			padding: 191px 0 0 0;
		}

		html.ie8 & {
			padding: 191px 0 0 0;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			padding: 150px 0 0 0;
		}

		@media (max-width: 767px) {
			background: url(images/header.jpg) no-repeat 50% 50%;
			background-size: cover;
			padding: 50px 20px 0 20px;
		}

	}

	.search-form {

		form {
			float: none;
			margin: 0 0 30px 0;
		}

	}

	.logo {
		display: inline-block;
		float: none;
		margin: 0 0 46px 0;
		vertical-align: top;

		@media (min-width: 768px) and (max-width: 979px) {
			width: 100%;
		}

		body.home & {
			margin: 0 0 291px 0;

			@media (min-width: 980px) and (max-width: 1200px) {
				margin: 0 0 191px 0;
			}

			html.ie8 & {
				margin: 0 0 191px 0;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				margin: 0 0 150px 0;
			}

			@media (max-width: 767px) {
				margin: 0 0 40px 0;
			}

		}

		img {
			margin: 0 0 4px 0;

			@media (max-width: 767px) {
				width: 100%;
				height: auto;
			}

			body.home & {
				height: 236px;

				@media (max-width: 767px) {
					width: 100%;
					height: auto;
				}

			}

		}

		.logo_h__txt {
			margin: 0;
			padding: 0;
			text-transform: uppercase;

			a {
				text-decoration: none;

				@media (max-width: 767px) {
					line-height: 60px;
					font-size: 60px;
				}

				@media (max-width: 480px) {
					line-height: 36px;
					font-size: 36px;
				}

				&:focus {
					text-decoration: none;
					color: #fff;
				}

				&:hover {
					text-decoration: none;
					color: #fff;
				}

			}

		}

		.logo_tagline {
			margin: 0;
			padding: 4px 0 0 0;
			letter-spacing: 4px;
			line-height: 22px;
			font-family: @LatoFontFamily;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
			color: #fff;

			body.home & {
				padding: 0;
				letter-spacing: 6px;
				line-height: 39px;
				font-size: 31px;

				@media (max-width: 767px) {
					letter-spacing: 4px;
					line-height: 22px;
					font-size: 18px;
				}

			}

		}

	}

	.nav__primary {
		background: url(images/menu.png) repeat 50% 0%;
		position: relative;
		float: none;
		margin: 0;
		padding: 16px 0 15px 0;

		&:before {
			background: url(images/menu.png) repeat 50% 0%;
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -100%;
			z-index: -1;
			content: '';
		}

		&:after {
			background: url(images/menu.png) repeat 50% 0%;
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			right: -100%;
			z-index: -1;
			content: '';
		}

		&.isStuck {
			right: 0;
			left: 0;
			z-index: 999;

			@media (max-width: 767px) {
				padding: 20px;
			}

		}

		.select-menu {
			font-size: 12px;
		}

		.sf-menu {
			float: none;
			line-height: 0;
			font-size: 0;

			ul {
				background: url(images/menu.png) repeat 50% 0%;
				width: 150px;
				padding: 20px 0;
			}

			> li {
				background: url(images/menu_divider.png) no-repeat 0% 50%;
				display: inline-block;
				float: none;
				vertical-align: top;

				&:first-child {
					background: none;
				}

				> a {
					padding: 10px 28px 10px 28px;
					border: none;
					text-transform: uppercase;

					@media (min-width: 980px) and (max-width: 1200px) {
						padding: 10px 20px 10px 20px;
					}

					html.ie8 & {
						padding: 10px 20px 10px 20px;
					}

					@media (min-width: 768px) and (max-width: 979px) {
						padding: 10px 15px 10px 15px;
						font-size: 22px;
					}

				}

				li {
					background: none;
					margin: 10px 0 0 0;

					&:first-child {
						margin: 0;
					}

					a {
						padding: 0 10px;
						border: none;
						line-height: 20px;
						font-size: 15px;
						font-weight: 400;
						text-transform: uppercase;
						text-decoration: none;
						color: #fff;
					}

					.sf-sub-indicator {
						display: none;
					}

				}

			}

		}

		.sf-menu li:hover ul, .sf-menu li.sfHover ul {
			margin: 0 0 0 -75px;
			top: 74px;
			left: 50%;
		}

		ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
			margin: 0;
			top: -20px;
			left: 151px;
		}

		.sf-menu > li > a:hover, .sf-menu > li.sfHover> a, .sf-menu > li.current-menu-item > a, .sf-menu > li.current_page_item > a { background: none; color: #757575; }
		.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current-menu-item > a, .sf-menu li li.current_page_item > a { background: none; color: #757575; }

		.sf-sub-indicator {
			margin: 0 -5px 0 0;
			top: 45px;
			right: 50%;
		}

	}

	.slider_prev {
		display: block;
		width: 60px;
		height: 60px;
		margin: 0;
		padding: 0;
		line-height: 0;
		font-size: 0;
		position: absolute;
		top: 106px;
		left: 0;
		z-index: 999;

		@media (min-width: 1625px) {
			left: -227px;
		}

		html.ie8 & {
			left: -227px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			top: 0;
		}

		@media (max-width: 767px) {
			display: none;
			top: auto;
			bottom: 80px;
		}

		&:hover {

			&:after {
				.opacity(100);
				.transition(0.4s);

				html.ie8 & {
					display: block;
				}

			}

		}

		&:before {
			background: url(images/slider_prev.jpg) no-repeat 50% 50%;
			display: block;
			.transition(0.8s);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
		}

		&:after {
			background: url(images/slider_prev_act.jpg) no-repeat 50% 50%;
			display: block;
			.opacity(0);
			.transition(0.8s);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';

			html.ie8 & {
				display: none;
			}

		}

	}

	.slider_next {
		display: block;
		width: 60px;
		height: 60px;
		margin: 0;
		padding: 0;
		line-height: 0;
		font-size: 0;
		position: absolute;
		top: 106px;
		right: 0;
		z-index: 999;

		@media (min-width: 1625px) {
			right: -227px;
		}

		html.ie8 & {
			right: -227px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			top: 0;
		}

		@media (max-width: 767px) {
			display: none;
			top: auto;
			bottom: 80px;
		}

		&:hover {

			&:after {
				.opacity(100);
				.transition(0.4s);

				html.ie8 & {
					display: block;
				}

			}

		}

		&:before {
			background: url(images/slider_next.jpg) no-repeat 50% 50%;
			display: block;
			.transition(0.8s);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
		}

		&:after {
			background: url(images/slider_next_act.jpg) no-repeat 50% 50%;
			display: block;
			.opacity(0);
			.transition(0.8s);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';

			html.ie8 & {
				display: none;
			}

		}

	}

}

/*/ Header */


/* Slider
---------------------------------------- */

/*/ Slider */



/* #Content
================================================== */

.content-holder {
	position: relative;
	margin: 0;
	padding: 100px 0 100px 0;
	z-index: 99;

	@media (max-width: 767px) {
		padding: 100px 20px 100px 20px;
	}

	body.home & {
		background: #171717 url(images/body.jpg) repeat 50% 0%;
		padding: 89px 0 0 0;

		@media (max-width: 767px) {
			padding: 89px 20px 0 20px;
		}

	}

	#content {
		padding-top: 45px;
	}

}

/*/ Content */



/* #Comments
================================================== */

/*/ Comments */



/* #Widgets
================================================== */

#sidebar {
	padding-top: 45px;

	.widget {
		margin: 77px 0 0 0;

		&:first-child {
			margin: 0;
		}

	}

	h3 {
		margin-bottom: 63px;
		.hyphens(auto);

		@media (min-width: 980px) and (max-width: 1200px) {
			line-height: 56px;
			font-size: 40px;
		}

		html.ie8 & {
			line-height: 56px;
			font-size: 40px;
		}

	}

	ul {
		margin: 0;
		padding: 0;

		li {
			position: relative;
			margin: 8px 0 0 0;
			padding: 0 0 0 18px;
			list-style: none;
			line-height: 20px;
			font-size: 15px;
			text-transform: uppercase;
			color: #777;

			&:first-child {
				margin: 0;
			}

			&:before {
				line-height: 20px;
				font-family: FontAwesome;
				font-size: 15px;
				color: #bababa;
				position: absolute;
				top: 0;
				left: 0;
				content: '\f054';
			}

			a {
				text-decoration: none;
				color: #777;

				&:hover {
					text-decoration: none;
					color: #fff;
				}

			}

			ul {
				padding: 8px 0 0 0;
			}

		}

	}

	ul.comments-custom {
		padding: 1px 0 0 0;

		li {
			margin: 47px 0 0 0;
			padding: 0;
			line-height: 18px;
			font-size: 15px;
			text-transform: none;

			&:first-child {
				margin: 0;
			}

			&:before {
				display: none;
			}

			.meta_format {
				margin: 0;
			}

			h4 {
				margin: 0;
				padding: 0;
				border: none;
				line-height: 24px;
				font-family: @RobotoFontFamily;
				font-size: 18px;
				font-weight: 400;
				text-align: left;
				color: #fff;
			}

			time {
				display: block;
				line-height: 24px;
				font-family: @RobotoFontFamily;
				font-size: 18px;
				font-weight: 400;
				color: #fff;
			}

			.comments-custom_txt {
				margin: 4px 0 20px 0;
				padding: 0;
				border: none;
			}

			.comments_custom_btn {
				line-height: 20px;
				font-size: 18px;
				text-decoration: underline;
			}

		}

	}

	#calendar_wrap {

		caption {
			color: #fff;
		}

		thead {

			tr {

				th {
					color: #fff;
				}

			}

		}

	}

}

/*/ Widgets */



/* #Shortcodes
================================================== */

ul.list_1 {
	padding: 0 0 16px 0;

	li {
		text-align: center;

		@media (max-width: 767px) {
			width: 100%;
			overflow: hidden;
			text-align: left;
		}

		.thumbnail {
			margin: 0 0 24px 0;

			@media (max-width: 767px) {
				max-width: 50%;
				margin: 5px 20px 5px 0;
			}

		}

		.clear {

			@media (max-width: 767px) {
				display: none;
			}

		}

		h5 {
			display: none;
		}

		.excerpt {

			a {
				text-decoration: none;
				color: #777;

				&:focus {
					text-decoration: none;
					color: #777;
				}

				&:hover {
					text-decoration: none;
					color: #fff;
				}

			}

		}

	}

}

ul.list_2 {
	margin: 0;
	padding: 0 0 63px 0;
	line-height: 0;
	font-size: 0;

	li {
		float: none;
		display: inline-block;
		position: relative;
		width: 370px;
		margin: 0 0 0 30px;
		vertical-align: top;
		line-height: 23px;
		font-size: 15px;
		color: #fff;

		@media (min-width: 980px) and (max-width: 1200px) {
			width: 300px;
			margin: 0 0 0 20px;
		}

		html.ie8 & {
			width: 300px;
			margin: 0 0 0 20px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			width: 228px;
			margin: 0 0 0 20px;
		}

		@media (max-width: 767px) {
			width: 100%;
			margin: 30px 0 0 0;
		}

		&:first-child {
			margin: 0;

			html.ie8 & {
				margin: 0;
			}

		}

		.inner {
			position: relative;
			margin: 0 0 14px 0;

			.thumbnail {
				float: none;
				margin: 0;

				a {

					&:hover {

						.zoom-icon {

							&:before {
								top: 35%;
							}

						}

					}

					.zoom-icon {

						&:before {
							top: -30px;
						}

					}

					img {

						@media (max-width: 767px) {
							width: 100%;
						}

					}

				}

			}

			h5 {
				margin: 0;
				padding: 0;
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;

				@media (min-width: 980px) and (max-width: 1200px) {
					line-height: 30px;
					font-size: 20px;
				}

				html.ie8 & {
					line-height: 30px;
					font-size: 20px;
				}

				@media (min-width: 768px) and (max-width: 979px) {
					line-height: 24px;
					font-size: 16px;
				}

				@media (max-width: 480px) {
					line-height: 24px;
					font-size: 16px;
				}

				a {
					background: rgba(0,0,0,0.8);
					display: block;
					padding: 22px 35px 22px 35px;

					@media (min-width: 980px) and (max-width: 1200px) {
						padding: 20px;
					}

					html.ie8 & {
						background: url(images/black-opacity-60.png) repeat 0% 0%;
						padding: 20px;
					}

					@media (min-width: 768px) and (max-width: 979px) {
						padding: 15px;
					}

					@media (max-width: 480px) {
						padding: 15px;
					}

					&:hover {
						background: rgba(255,255,255,0.8);
						color: #000;

						html.ie8 & {
							background: #fff;
						}

					}

				}

			}

		}

		.excerpt {
			margin: 0 0 15px 0;
			padding: 0 10px;
		}

		.meta {
			line-height: 24px;
			font-family: @RobotoFontFamily;
			font-size: 14px;
			font-weight: 400;

			.post_date {

				&:before {
					display: inline-block;
					margin: -4px 10px 0 0;
					vertical-align: top;
					font-family: FontAwesome;
					font-size: 23px;
					content: '\f017';
				}

			}

			.post_comment {
				margin: 0 0 0 15px;

				&:before {
					display: inline-block;
					margin: -4px 7px 0 0;
					vertical-align: top;
					font-family: FontAwesome;
					font-size: 23px;
					content: '\f0e5';
				}

				a {
					text-decoration: none;
					color: #fff;

					&:focus {
						text-decoration: none;
						color: #fff;
					}

					&:hover {
						text-decoration: underline;
						color: #fff;
					}

				}

			}

		}

	}

}

ul.list_3 {
	background: url(images/bg.png) repeat 0% 0%;
	position: relative;
	overflow: visible;
	margin: 0 !important;
	padding: 61px 0 70px 0;
	line-height: 0;
	font-size: 0;
	z-index: 99;

	&:before {
		background: url(images/bg.png) repeat 0% 0%;
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -100%;
		z-index: -1;
		content: '';
	}

	&:after {
		background: url(images/bg.png) repeat 0% 0%;
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -100%;
		z-index: -1;
		content: '';
	}

	li {
		background: #fff;
		display: inline-block;
		width: 570px;
		margin: 0 0 0 30px;
		padding: 20px;
		.box-sizing(border-box);
		vertical-align: top;
		line-height: 23px;
		font-size: 15px;
		font-weight: 400;
		text-align: left;
		color: #000;

		@media (min-width: 980px) and (max-width: 1200px) {
			width: 460px;
			margin: 0 0 0 20px;
		}

		html.ie8 & {
			width: 460px;
			margin: 0 0 0 20px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			width: 352px;
			margin: 0 0 0 20px;
		}

		@media (max-width: 767px) {
			width: 100%;
			margin: 20px 0 0 0;
		}

		&:first-child {
			margin: 0;

			html.ie8 & {
				margin: 0;
			}

		}

		.thumbnail {
			margin: -20px 48px -20px -20px;

			@media (min-width: 980px) and (max-width: 1200px) {
				max-width: 50%;
				margin: 5px 20px 5px 0;
			}

			html.ie8 & {
				max-width: 50%;
				margin: 5px 20px 5px 0;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				max-width: 50%;
				margin: 5px 20px 5px 0;
			}

			@media (max-width: 767px) {
				width: auto;
				max-width: 50%;
				height: auto;
				margin: 5px 20px 5px 0;
			}

		}

		h5 {
			margin: 0 0 13px 0;
			padding: 2px 0 0 0;
			line-height: 34px;
			font-size: 24px;
			text-transform: uppercase;
			color: #000;

			@media (max-width: 480px) {
				.hyphens(auto);
				line-height: 30px;
				font-size: 20px;
			}

			a {
				text-decoration: none;
				color: #000;

				&:focus {
					text-decoration: none;
					color: #000;
				}

				&:hover {
					text-decoration: none;
					color: #757575;
				}

			}

		}

		.excerpt {
			margin: 0 0 14px 0;
		}

		a.btn-primary {
			min-width: 1px;
			margin: 0;
			padding: 0;
			border: none;
			line-height: 24px;
			font-size: 18px;
			text-transform: lowercase;
			text-decoration: underline;
			color: #757575;

			&:focus {
				text-decoration: underline;
				color: #757575;
			}

			&:hover {
				text-decoration: underline;
				color: #000;
			}

		}

	}

}

ul.list_4 {

	li {
		background: #fff;
		margin-bottom: 8px;
		padding-bottom: 23px;
		color: #000;

		@media (max-width: 767px) {
			margin: 20px 0 0 0;
		}

		&:first-child {

			@media (max-width: 767px) {
				margin: 0;
			}

		}

		h5 {
			display: none;
		}

		.thumbnail {
			margin: 0 0 25px 0;

			@media (max-width: 767px) {
				float: none;
			}

		}

		.excerpt {
			margin: 0 0 17px 0;
			padding: 0 30px 0 30px;

			a {
				text-decoration: none;
				color: #000;

				&:focus {
					text-decoration: none;
					color: #000;
				}

				&:hover {
					text-decoration: none;
					color: #777;
				}

			}

		}

		a.btn-primary {
			min-width: 1px;
			margin: 0;
			padding: 0;
			border: none;
			line-height: 30px;
			font-size: 24px;
			text-transform: lowercase;
			text-decoration: underline;
			color: #000;

			&:focus {
				text-decoration: underline;
				color: #000;
			}

			&:hover {
				text-decoration: underline;
				color: #757575;
			}

		}

	}

}

.content_box {




	&.box {
		background: none;
		position: relative;

		&:before, &:after {
			display: none;
		}

		h2 {
			position: absolute;
			top: 78px;
			right: 0;
			left: 0;
			z-index: 99;

			@media (max-width: 767px) {
				top: 40px;
			}

			&:before {
				background-image: url(images/title_icon_1.png);
			}

		}

	}




	&.box_1 {
		background: url(images/bg.png) repeat 0% 0%;
		position: relative;
		padding: 49px 0 22px 0;
		text-align: left;
		z-index: 99;

		&:before {
			background: url(images/bg.png) repeat 0% 0%;
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -100%;
			z-index: -1;
			content: '';
		}

		&:after {
			background: url(images/bg.png) repeat 0% 0%;
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			right: -100%;
			z-index: -1;
			content: '';
		}

		.hero-unit {
			float: left;
			width: 570px;
			margin: 0 30px 0 0;

			@media (min-width: 980px) and (max-width: 1200px) {
				width: 460px;
				margin: 0 20px 0 0;
			}

			html.ie8 & {
				width: 460px;
				margin: 0 20px 0 0;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				width: 352px;
				margin: 0 20px 0 0;
			}

			@media (max-width: 767px) {
				float: none;
				width: 100%;
				margin: 15px 0;
			}

			&.no_indent {
				margin-right: 0;

				html.ie8 & {
					margin-right: 0;
				}

			}

		}

	}




	&.center {
		background: none;
		margin: 0 0 101px 0;
		text-align: center;

		&:before, &:after {
			display: none;
		}

	}




}

.hero-unit {
	background: none;
	padding: 0 0 9px 0;
	border: none;
	.border-radius(0);
	.box-shadow(none);

	h1 {
		float: left;
		min-width: 49px;
		margin: 0;
		padding: 0 5px 0 0;
		line-height: 60px;
		font-size: 53px;
		color: #fff;
	}

	p {
		overflow: hidden;
		padding: 3px 0 0 0;
		line-height: 23px;
		font-size: 15px;
		color: #777;

		strong {
			display: block;
			margin: 0 0 26px 0;
			line-height: 34px;
			font-family: @LatoFontFamily;
			font-size: 24px;
			font-weight: 400;
			text-transform: uppercase;
			color: #fff;
		}

	}

}

a.btn-primary {
	background: none;
	position: relative;
	min-width: 154px;
	margin: 0;
	padding: 20px 32px 20px 32px;
	border: 2px solid #fff;
	.border-radius(0);
	.box-shadow(none);
	.transition(0.8s);
	line-height: 26px;
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: none;
	text-align: center;
	text-decoration: none;
	color: #fff;
	z-index: 99;

	&:focus {
		background: none;
		.transition(0.4s);
		color: #fff;

		&:before {
			.transition(0.4s);
			top: 100%;
		}

	}

	&:hover {
		background: none;
		.transition(0.4s);
		color: #777;

		&:before {
			.transition(0.4s);
			top: 0;
		}

	}

	&:before {
		background: #fff;
		display: block;
		.transition(0.8s);
		position: absolute;
		top: 100%;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		content: '';
	}

}

.flexslider {

	&.extra {
		overflow: visible !important;
		margin: 0 0 89px 0;

		ul {

			li {

				.thumbnail {
					position: relative;
					width: 1920px;
					margin: 0 0 0 -960px;
					left: 50%;
					z-index: -1;

					@media (min-width: 1921px) {
						width: 2100px;
						margin: 0 0 0 -1050px;
					}

					@media (max-width: 767px) {
						width: 1400px;
						margin: 0 0 0 -700px;
					}

				}

				.caption {
					background: url(images/caption.png) repeat 50% 0%;
					padding: 44px 100px 46px 100px;
					text-align: center;
					position: absolute;
					top: 391px;
					right: 0;
					left: 0;

					@media (min-width: 1921px) {
						top: 441px;
					}

					@media (max-width: 767px) {
						padding: 20px 50px 20px 50px;
						top: 300px;
					}

					@media (max-width: 480px) {
						padding: 20px 30px 20px 30px;
						top: 280px;
					}

					&:before {
						background: url(images/caption.png) repeat 50% 0%;
						display: block;
						width: 100%;
						position: absolute;
						top: 0;
						bottom: 0;
						left: -100%;
						z-index: -1;
						content: '';
					}

					&:after {
						background: url(images/caption.png) repeat 50% 0%;
						display: block;
						width: 100%;
						position: absolute;
						top: 0;
						bottom: 0;
						right: -100%;
						z-index: -1;
						content: '';
					}

					.price {
						display: block;
						margin: 0 0 9px 0;
						line-height: 74px;
						font-family: @AlexFontFamily;
						font-size: 74px;
						font-weight: 400;
						color: #fff;

						@media (max-width: 767px) {
							line-height: 34px;
							font-size: 34px;
						}

						i {
							display: inline-block;
							vertical-align: top;
							line-height: 40px;
							font-size: 40px;
							font-style: normal;

							@media (max-width: 767px) {
								line-height: 20px;
								font-size: 20px
							}

						}

					}

					h5 {
						margin: 0 0 16px 0;

						@media (max-width: 767px) {
							line-height: 30px;
							font-size: 20px;
						}

					}

					.excerpt {
						margin: 0;
						padding: 0;
						color: #fff;

						@media (max-width: 767px) {
							line-height: 20px;
							font-size: 13px;
						}

					}

					a.btn {
						display: none;
					}

				}

			}

		}

		ol.flex-control-nav {
			line-height: 0;
			font-size: 0;
			position: absolute;
			width: 100%;
			right: 0;
			bottom: 92px;
			left: 0;
			z-index: 99;

			@media (max-width: 480px) {
				bottom: 40px;
			}

			li {
				margin: 0 12px 0 13px;
				line-height: 30px;
				font-family: @AlexFontFamily;
				font-size: 26px;
				font-weight: 400;
				color: #757575;

				a {
					background: none;
					width: auto;
					height: auto;
					.border-radius(0);
					.box-shadow(none);
					text-indent: inherit;
					text-decoration: none;
					color: #757575;

					&:focus {
						text-decoration: none;
						color: #757575;
					}

					&:hover, &.flex-active {
						text-decoration: none;
						color: #fff;
					}

				}

			}

		}

		.flex-prev {
			background: none;
			width: 16px;
			height: 33px;
			margin: -16px 0 0 0;
			.opacity(100);
			line-height: 0;
			font-size: 0;
			left: 0;

			@media (min-width: 1800px) {
				left: -315px;
			}

			&:hover {
				&:before {
					.opacity(0);
					.transition(0.4s);

					html.ie8 & {
						display: none;
					}

				}
				&:after {
					.opacity(100);
					.transition(0.4s);

					html.ie8 & {
						display: block;
					}

				}
			}

			&:before {
				background: url(images/prev.png) no-repeat 0% 0%;
				width: 16px;
				height: 33px;
				overflow: hidden;
				.transition(0.8s);
				line-height: 0;
				font-size: 0;
				position: absolute;
				top: 0;
				left: 0;
				content: '';
			}

			&:after {
				background: url(images/prev_act.png) no-repeat 0% 0%;
				width: 16px;
				height: 33px;
				overflow: hidden;
				.opacity(0);
				.transition(0.8s);
				line-height: 0;
				font-size: 0;
				position: absolute;
				top: 0;
				left: 0;
				content: '';

				html.ie8 & {
					display: none;
				}

			}

		}

		.flex-next {
			background: none;
			width: 16px;
			height: 33px;
			margin: -16px 0 0 0;
			.opacity(100);
			line-height: 0;
			font-size: 0;
			right: 0;

			@media (min-width: 1800px) {
				right: -315px;
			}

			&:hover {
				&:before {
					.opacity(0);
					.transition(0.4s);

					html.ie8 & {
						display: none;
					}

				}
				&:after {
					.opacity(100);
					.transition(0.4s);

					html.ie8 & {
						display: block;
					}

				}
			}

			&:before {
				background: url(images/next.png) no-repeat 0% 0%;
				width: 16px;
				height: 33px;
				overflow: hidden;
				.transition(0.8s);
				line-height: 0;
				font-size: 0;
				position: absolute;
				top: 0;
				left: 0;
				content: '';
			}

			&:after {
				background: url(images/next_act.png) no-repeat 0% 0%;
				width: 16px;
				height: 33px;
				overflow: hidden;
				.opacity(0);
				.transition(0.8s);
				line-height: 0;
				font-size: 0;
				position: absolute;
				top: 0;
				left: 0;
				content: '';

				html.ie8 & {
					display: none;
				}

			}

		}

	}

}

.service-box {
	background: none;
	margin: 0 0 54px 0;
	padding: 0;
	border: none;
	.border-radius(0);
	.box-shadow(none);
	text-align: center;

	.icon {
		display: block;
		float: none;
		margin: 0 0 32px 0;
		padding: 0 0 40px 0;
		border-bottom: 1px solid #404040;
	}

	h2 {
		margin: 0 0 26px 0;
		padding: 0;
		line-height: 34px !important;
		font-family: @LatoFontFamily;
		font-size: 24px !important;
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;

		@media (min-width: 1200px) {
			padding: 0 20px;
		}

		&:before {
			display: none;
		}

	}

}

.parallax_content {

	@media (max-width: 767px) {
		padding: 0 20px;
	}

}

.cherry_media_parallax {
	margin-bottom: 99px;
	padding-top: 77px;
	padding-bottom: 100px;
	text-align: center;

	&:before {
		background: rgba(0,0,0,0.5);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';

		html.ie8 & {
			background: url(images/black-opacity-60.png) repeat 0% 0%;
		}

	}

	.container {
		position: relative;
	}

	h2 {
		margin-bottom: 66px;
	
		&:before {
			background-image: url(images/title_icon_1.png);
		}

	}

}

.cherry_media_parallax_1 {
	margin-top: 43px;
	margin-bottom: -100px;
	padding-top: 78px;
	padding-bottom: 100px;
	text-align: center;

	&:before {
		background: rgba(0,0,0,0.5);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';

		html.ie8 & {
			background: url(images/black-opacity-60.png) repeat 0% 0%;
		}

	}

	.container {
		position: relative;
	}

	h2 {
		margin-bottom: 66px;
	
		&:before {
			background-image: url(images/title_icon_1.png);
		}

	}

}

.cherry_media_parallax_2 {
	margin-top: 51px;
	margin-bottom: 100px;
	padding-top: 78px;
	padding-bottom: 165px;
	text-align: center;

	&:before {
		background: rgba(0,0,0,0.5);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';

		html.ie8 & {
			background: url(images/black-opacity-60.png) repeat 0% 0%;
		}

	}

	.container {
		position: relative;
	}

	h2 {
		margin-bottom: 66px;
	
		&:before {
			background-image: url(images/title_icon_1.png);
		}

	}

}

.cherry_media_parallax_3 {
	margin-top: 43px;
	margin-bottom: -100px;
	padding-top: 77px;
	padding-bottom: 100px;
	text-align: center;

	&:before {
		background: rgba(0,0,0,0.5);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';

		html.ie8 & {
			background: url(images/black-opacity-60.png) repeat 0% 0%;
		}
		
	}

	.container {
		position: relative;
	}

	h2 {
		margin-bottom: 66px;
	
		&:before {
			background-image: url(images/title_icon_1.png);
		}

	}

}

.testimonials {
	width: 100%;
	overflow: hidden;
	padding: 19px 0 58px 0;

	.testi-item {
		float: left;
		width: 370px;
		margin: 0 0 0 30px;
		text-align: center;

		@media (min-width: 980px) and (max-width: 1200px) {
			width: 300px;
			margin: 0 0 0 20px;
		}

		html.ie8 & {
			width: 300px;
			margin: 0 0 0 20px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			width: 228px;
			margin: 0 0 0 20px;
		}

		@media (max-width: 767px) {
			display: block;
			float: none;
			width: 100%;
			margin: 30px 0 0 0;
		}

		&:first-child {
			margin: 0;

			html.ie8 & {
				margin: 0;
			}

		}

		blockquote {
			background: none;
			margin: 0;
			padding: 0;
			.border-radius(0);

			&:before, &:after {
				display: none;
			}

			.featured-thumbnail {
				display: block;
				float: none;
				width: 100%;
				height: auto;
				margin: 0 0 17px 0;

				img {
					.border-radius(50%);
				}

			}

		}

		.testi-meta {
			padding: 21px 0 0 0;
			line-height: 34px;
			font-family: @LatoFontFamily;
			font-size: 24px;
			text-transform: uppercase;
			color: #fff;

			.user {

				&:after {
					display: none;
				}

			}

		}

	}

}

.list {

	&.custom-list {
		padding: 0 0 56px 0;

		ul {
			margin: 0;
			padding: 0;

			li {
				width: 100%;
				overflow: hidden;
				margin: 0;
				padding: 4px 0 5px 0;
				border-bottom: 1px solid #4c4c4c;
				list-style: none;
				line-height: 20px;
				font-size: 15px;
				color: #777;

				&:before {
					display: none;
				}

				em {
					float: right;
					margin: 0 0 0 10px;
					font-style: normal;
					color: #fff;
				}

				a {
					text-decoration: none;
					color: #777;

					&:focus {
						text-decoration: none;
						color: #777;
					}

					&:hover {
						text-decoration: none;
						color: #fff;
					}

				}

			}

		}

	}

	&.arrow-list {
		padding: 0 0 42px 0;

		ul {
			margin: 0;
			padding: 0;

			li {
				position: relative;
				margin: 8px 0 0 0;
				padding: 0 0 0 18px;
				list-style: none;
				line-height: 20px;
				font-size: 15px;
				text-transform: uppercase;
				color: #777;

				&:first-child {
					margin: 0;
				}

				&:before {
					line-height: 20px;
					font-family: FontAwesome;
					font-size: 15px;
					color: #bababa;
					position: absolute;
					top: 0;
					left: 0;
					content: '\f054';
				}

				a {
					text-decoration: none;
					color: #777;

					&:hover {
						text-decoration: none;
						color: #fff;
					}

				}

				ul {
					padding: 8px 0 0 0;
				}

			}

		}

	}

}

/*/ Shortcodes */



/* #Footer
================================================== */

.footer {
	background: none;
	margin: 0;
	padding: 105px 0 105px 0;
	border-top: 4px solid #060606;
	text-align: center;

	@media (max-width: 767px) {
		padding: 60px 20px 60px 20px;
	}

	body.home & {
		background: #171717 url(images/body.jpg) repeat 50% 0%;
		border: none;
	}

	.custom_map {
		position: relative;
		margin: -105px 0 105px 0;

		@media (max-width: 767px) {
			margin: -60px 0 60px 0;
		}

		#map {
			position: relative;
			width: 1100px;
			margin: 0 0 0 -1100px;
			left: 50%;

			@media (min-width: 980px) and (max-width: 1200px) {
				width: 470px;
				height: 500px;
				margin: 0 0 0 -470px;
			}

			html.ie8 & {
				width: 960px;
				margin: 0 0 0 -960px;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				height: 362px;
				width: 362px;
				margin: 0 0 0 -362px;
			}

			@media (max-width: 767px) {
				width: auto;
				height: 300px;
				margin: 0 -20px 0 -20px;
				left: auto;
			}

		}

		&:after {
			background: url(images/map_image.jpg) no-repeat 50% 50%;
			background-size: cover;
			display: block;
			width: 1100px;
			margin: 0 -1100px 0 0;
			position: absolute;
			top: 0;
			right: 50%;
			bottom: 0;
			left: auto;
			content: '';

			@media (min-width: 980px) and (max-width: 1200px) {
				width: 470px;
				margin: 0 -470px 0 0;
			}

			html.ie8 & {
				background-position: 0% 0%;
				width: 960px;
				margin: 0 -960px 0 0;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				width: 362px;
				margin: 0 -362px 0 0;
			}

			@media (max-width: 767px) {
				display: none;
			}

		}

	}

	.footer-text {
		float: none;
		margin: 0 0 26px 0;
		line-height: 22px;
		font-size: 15px;
		color: #646464;

		a {
			text-decoration: none;
			color: #646464;

			&:focus {
				text-decoration: none;
				color: #646464;
			}

			&:hover {
				text-decoration: none;
				color: #fff;
			}

		}

	}

	.social-nets-wrapper {

		ul {
			margin: 0;
			padding: 0;
			line-height: 0;
			font-size: 0;

			li {
				display: inline-block;
				margin: 0 15px;
				padding: 0;
				list-style: none;
				vertical-align: top;

				a {
					display: block;

					&:hover {
						&:before {
							transform: rotateY(360deg);
							-webkit-transform: rotateY(360deg);
							.transition(0.4s);
							color: #757575;
						}
					}

					&:before {
						display: inline-block;
						.transition(0.8s);
						vertical-align: top;
						line-height: 40px;
						font-family: FontAwesome;
						font-size: 40px;
						color: #fff;
					}

					&[title="facebook"] {
						&:before {
							content: '\f09a';
						}
					}

					&[title="twitter"] {
						&:before {
							content: '\f099';
						}
					}

					img {
						display: none;
					}

				}

			}

		}

	}

	.footer-nav {
		float: none;
		margin: 26px 0 0 0;

		ul {
			float: none;

			li {
				display: inline-block;
				float: none;
				margin: 0 7px;
				padding: 0;
				vertical-align: top;

				&.current-menu-item {

					a {
						text-decoration: none;
						color: #fff;

						&:focus {
							text-decoration: none;
							color: #fff;
						}

						&:hover {
							text-decoration: none;
							color: #fff;
						}

					}

				}

				a {

					&:focus {
						text-decoration: none;
						color: #646464;
					}

					&:hover {
						text-decoration: none;
						color: #fff;
					}

				}

			}

		}

	}

}

/*/ Footer */


/* #Misc
================================================== */

#back-top-wrapper {

	p#back-top {
		margin: 0;

		a {

			&:hover {
				span {
					background-color: #000;
				}
			}

			span {
				background-color: #404040;
				margin: 0;
			}

		}

	}

}

.thumbnail {
	padding: 0;
	border: none;
	.border-radius(0);
	.box-shadow(none);

	a {

		&:hover {

			.zoom-icon {

				&:before {
					margin-top: -15px;
					.rotate(180deg);
					.transition(0.4s);
					top: 50%;
				}

			}

		}

		.zoom-icon {

			&:before {
				background: url(images/magnify.png) no-repeat 0% 0%;
				width: 30px;
				height: 30px;
				margin: 0 0 0 -15px;
				.transition(0.8s);
				top: -30px;
			}

		}

	}

}

/* Custom Map */

#map {

	img {
		max-width: none;
	}

	#content {
		font-size: 10px;
		color: #babbc2;
		padding-top: 0;

		h6 {
			font-size: 13px;
			line-height: 1.2em;
			color: #434458;
			margin: 0 0 4px 0;
		}

		p {
			line-height: 14px;
			margin-bottom: 0;
		}

		a {
			color: @linkColorHover;
			text-decoration: underline;

			&:hover,
			&:focus {
				text-decoration: none;
			} 
		}
	}
}

.gm-style .gm-style-iw #content a {
	font-size: 11px;
}

.title-section {
	background: url(images/menu.png) repeat 0% 0%;
	position: relative;
	margin: -100px 0 0 0;
	padding: 7px 0 7px 0;
	text-align: center;

	&:before {
		background: url(images/menu.png) repeat 0% 0%;
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -100%;
		z-index: -1;
		content: '';
	}

	&:after {
		background: url(images/menu.png) repeat 0% 0%;
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -100%;
		z-index: -1;
		content: '';
	}

	h1 {
		margin: 0;
		line-height: 39px;
		font-size: 31px;
		text-transform: uppercase;
	}

	ul {
		background: none;
		margin: 0;
		padding: 0;
		.border-radius(0);
		.box-shadow(none);

		li {
			line-height: 25px;
			font-size: 13px;
			font-weight: 400;
			text-shadow: none;
			color: #777;

			&.active {
				color: #fff;
			}

			a {
				text-decoration: none;
				color: #777;

				&:focus {
					text-decoration: none;
					color: #777;
				}

				&:hover {
					text-decoration: none;
					color: #fff;
				}

			}

		}

	}

}

.post-header {

	h2 {
		margin-bottom: 63px !important;
	}

}

article.post {

	h3 {
		margin: 0 0 20px 0;
		line-height: 34px !important;
		font-family: @LatoFontFamily;
		font-size: 24px !important;
		text-align: left;
		text-transform: uppercase;
		color: #fff;

		&:before {
			display: none;
		}

	}

}

.pagination {

	ul {

		li {

			&.active {

				a, span {
					text-decoration: none;
					color: #000;

					&:focus {
						text-decoration: none;
						color: #000;
					}

					&:hover {
						text-decoration: none;
						color: #000;
					}

				}

			}

			a, span {
				.border-radius(0) !important;
				color: #777;

				&:focus {
					text-decoration: none;
					color: #777;
				}

				&:hover {
					text-decoration: none;
					color: #000;
				}

			}

		}

	}

}

.post_meta {
	border-color: #757575;
	line-height: 20px;
	font-size: 13px;

	i {
		color: #757575;
	}

	a {
		text-decoration: none;
		color: #777;

		&:focus {
			text-decoration: none;
			color: #777;
		}

		&:hover {
			text-decoration: none;
			color: #fff;
		}

	}

}

.post-author {
	background: #6c6c6c;
	border: none;
	line-height: 20px;
	color: #dfdfdf;

	h3 {
		margin: 0 0 15px 0;
		line-height: 20px;
		font-size: 15px;
		text-align: left;
		text-transform: uppercase;
		color: #fff;

		&:before {
			display: none;
		}

		a {
			text-decoration: none;
			color: #000;

			&:focus {
				text-decoration: none;
				color: #000;
			}

			&:hover {
				text-decoration: none;
				color: #fff;
			}

		}

	}

	.post-author_desc {

		@media (max-width: 480px) {
			overflow: visible;
		}

	}

	.post-author_gravatar {
		margin: 5px 15px 5px 0;

		img {
			padding: 0;
			border: none;
		}

	}

	.post-author_link {
		margin: 12px 0 0 0;

		p {
			margin: 0;
			text-transform: uppercase;

			a {
				text-decoration: none;
				color: #000;

				&:focus {
					text-decoration: none;
					color: #000;
				}

				&:hover {
					text-decoration: none;
					color: #fff;
				}

			}

		}

	}

}

.related-posts {

	h3 {
		margin-bottom: 63px;
	}

	ul {

		li {
			line-height: 18px;
			font-size: 18px;
			text-transform: uppercase;
			color: #fff;
		}

	}

}

ol.comment-list {

	li {
		line-height: 20px;
		color: #dfdfdf;

		.comment-body {
			background: #6d6d6d !important;
			border: none;

			.author {
				padding: 12px 0 0 0;
				line-height: 20px;
				font-size: 18px;
				font-weight: 700;
				text-align: left;
				text-transform: uppercase;
				color: #fff;
			}

			.extra-wrap {

				@media (max-width: 480px) {
					overflow: visible;
				}

			}

			.reply {
				margin: 0 0 0 25px;

				a {
					background: none;
					margin: 0;
					padding: 0;
					line-height: 22px;
					font-size: 18px;
					font-weight: 700;
					text-transform: uppercase;
					text-decoration: underline !important;
					color: #fff;

					&:focus {
						color: #fff;
					}

					&:hover {
						color: #000;
					}

				}

			}

			.comment-meta {
				margin: 0;
				padding: 0;
				line-height: 22px;
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
				color: #fff;
			}

		}

	}

}

#comments {

	h3 {
		margin-bottom: 63px;
	}

}

#commentform {

	p {
		width: 100%;
		overflow: hidden;
	}

	input[type="text"], input[type="email"], textarea {

		@media (max-width: 767px) {
			min-height: 38px;
		}

	}

	input[type="submit"] {
		margin: 0;
	}

}

.cancel-comment-reply {
	padding: 0 0 8px 0;
}

.google-map {
	margin: 0 0 30px 0;
}

.wpcf7-form {

	input[type="text"], input[type="email"], textarea {
		padding: 5px 8px !important;
	}

	.wpcf7-not-valid-tip {
		.border-radius(0);
		line-height: 20px;
		font-size: 13px;

		@media (min-width: 768px) and (max-width: 979px) {
			padding-right: 2px !important;
			padding-left: 3px !important;
			font-size: 10px !important;
		}

	}

	.ajax-loader {
		margin: 21px 0 0 0;
	}

	.wpcf7-response-output {
		.border-radius(0);
	}

}

.filter-wrapper {
	background: url(images/title_icon.png) no-repeat 50% 0%;
	margin: 12px 0 0 0;
	padding: 131px 0 53px 0;
	text-align: center;

	@media (max-width: 767px) {
		background-position: 80% 0;
		text-align: left;
	}

	@media (max-width: 480px) {
		background-position: 50% 0;
	}

	.pull-right {
		float: none;

		@media (max-width: 767px) {
			float: right;
		}

	}

	strong {
		display: inline-block;
		float: none;
		margin: 0;
		padding: 0;
		vertical-align: top;
		line-height: 30px;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #757575;

		@media (min-width: 768px) and (max-width: 979px) {
			line-height: 26px;
			font-size: 20px;
		}

		@media (max-width: 767px) {
			float: left;
		}

		@media (max-width: 480px) {
			line-height: 24px;
			font-size: 18px;
		}

	}

	ul {
		display: inline-block;
		float: none;
		vertical-align: top;
		line-height: 0;
		font-size: 0;

		@media (max-width: 767px) {
			float: left;
			margin: 0 0 0 20px;
		}

		li {
			display: inline-block;
			margin: 0 0 0 54px;
			vertical-align: top;
			line-height: 30px;
			font-size: 24px;
			text-transform: uppercase;
			color: #fff;

			@media (min-width: 980px) and (max-width: 1200px) {
				margin: 0 0 0 40px;
			}

			html.ie8 & {
				margin: 0 0 0 40px;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				margin: 0 0 0 20px;
				line-height: 26px;
				font-size: 20px;
			}

			@media (max-width: 767px) {
				display: block;
				float: none;
				margin: 10px 0 0 0;
			}

			@media (max-width: 480px) {
				line-height: 24px;
				font-size: 18px;
			}

			&:first-child {

				@media (max-width: 767px) {
					margin: 0;
				}

			}

			&.active {

				a {
					background: none;
					text-decoration: none;
					color: #757575;

					&:focus {
						background: none;
						text-decoration: none;
						color: #757575;
					}

					&:hover {
						background: none;
						text-decoration: none;
						color: #757575;
					}

				}

			}

			a {
				background: none;
				margin: 0;
				padding: 0;
				.border-radius(0);
				.box-shadow(none);
				line-height: 30px;
				font-size: 24px;
				color: #fff;

				@media (min-width: 768px) and (max-width: 979px) {
					line-height: 26px;
					font-size: 20px;
				}

				@media (max-width: 480px) {
					line-height: 24px;
					font-size: 18px;
				}

				&:focus {
					background: none;
					text-decoration: none;
					color: #fff;
				}

				&:hover {
					background: none;
					text-decoration: none;
					color: #757575;
				}

			}

		}

	}

}

#portfolio-grid {

	li {
		color: #000;

		.caption {
			background: #fff;
			padding: 20px 20px 30px 20px;

			h3 {
				margin: 0 0 14px 0;
				padding: 0;
				line-height: 34px;
				font-size: 24px;
				text-align: left;
				color: #000;

				@media (max-width: 767px) {
					.hyphens(auto);
					line-height: 30px !important;
					font-size: 20px !important;
				}

				&:before {
					display: none;
				}

				a {
					text-decoration: none;
					color: #000;

					&:focus {
						text-decoration: none;
						color: #000;
					}

					&:hover {
						text-decoration: none;
						color: #757575;
					}

				}

			}

			p {
				margin: 0;

				&.excerpt {
					margin: 0 0 14px 0;
				}

			}

			a.btn-primary {
				background: none;
				min-width: 1px;
				margin: 0;
				padding: 0;
				border: none;
				line-height: 24px;
				font-size: 18px;
				text-transform: lowercase;
				text-decoration: underline;
				color: #757575;

				&:focus {
					text-decoration: underline;
					color: #757575;
				}

				&:hover {
					text-decoration: underline;
					color: #000;
				}

			}

		}

	}

}

.type-portfolio {

	.thumbnail {

		&.large {
			margin: 0;
		}

	}

}

ul.pager {
	margin-top: 30px;
	border-color: #757575;

	li {

		a {
			border: none;
			.border-radius(0);
			color: #000;

			&:focus {
				background: #fff;
				color: #000;
			}

			&:hover {
				background: #000;
				color: #fff;
			}

		}

	}

}

.entry-meta {

	.portfolio-meta {
		border-color: #757575;
	}

	.portfolio-meta-list {
		border-color: #757575;
	}

}

.error404-holder {

	@media (max-width: 767px) {
		text-align: center;
	}

	.error404-holder_num {

		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 220px;
		}

	}

	h2 {
		margin: 0;
		padding: 0;
		text-align: left;

		&:before {
			display: none;
		}

		@media (max-width: 767px) {
			text-align: center;
		}

	}

	h4 {
		margin: 0 0 15px 0;
		line-height: 20px;
		font-size: 13px;
		text-align: left;

		@media (max-width: 767px) {
			text-align: center;
		}

	}

}

article.testimonial {
	background: #6c6c6c;
	border: none;
	.border-radius(0);
	color: #fff;

	a {

		&:focus {
			color: #fff;
		}

		&:hover {
			color: #000;
		}

	}

}

.archive_lists {

	h3 {
		margin: 0 0 20px 0;
		padding: 0;
		line-height: 30px !important;
		font-size: 24px !important;
		text-align: left;
		color: #777;

		&:before {
			display: none;
		}

	}

}

.faq-list {

	h4 {
		margin: 0;
		padding: 0;
		border: none;
		line-height: 24px;
		font-size: 18px;
		font-weight: 400 !important;
		text-align: left;
	}

}

.posts-grid {

	li {

		.thumbnail {

			img {

				html.ie8 & {
					max-width: inherit;
				}

			}

		}

	}

}

.full-bg-slider {

	@media (max-width: 767px) {
		display: none !important;
	}

}

/*/ Misc */


@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";