/*--
	Theme Name: theme51323
	Theme URI: http://info.template-help.com/help/
	Description: A theme for Wordpress 4.4.x
	Author: Template_Help.com
	Author URI: http://info.template-help.com/help/
	Template: CherryFramework
	Version: 3.1.5
--*/

/* ----------------------------------------
	Please, You may put custom CSS here
---------------------------------------- */
@font-face {
	font-family: 'Kabel Bk BT';
	src: url('fonts/KabelITCbyBT-Book.eot');
	src: url('fonts/KabelITCbyBT-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/KabelITCbyBT-Book.woff2') format('woff2'),
		url('fonts/KabelITCbyBT-Book.woff') format('woff'),
		url('fonts/KabelITCbyBT-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}